<% @users = @event.user_event_associations(:attending => true).users %>
<%= partial :'nametag_small', @users  %>



<% @event.user_event_associations(:attending => true).users.each do |attendee| %>
	<div id="modal-<%= attendee.id %>" class="reveal-modal">
     <%= partial :'nametag_lg', attendee  %>
     <a class="close-reveal-modal">&#215;</a>
	</div>	
<% end %>