<section class="left-33">
	<h3>Edit Event</h3>
	<p>Edit your new event here.</p>
</section>

<section class="right-67">
	<form id="form-event" action="/events/<%= @event.id %>" method="post" enctype="multipart/form-data">
		<input name="_method" type="hidden" value="put" />
		<%= erb :'events/form' %>
		<input type="submit" value="Submit" />
	</form>
</section>

<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>