<label for="event[name]">Name</label>
<input name="event[name]" type="text" value="<%= @event.name%>" />

<label for="event[description]">Description</label>
<input name="event[description]" type="text" value="<%= @event.description%>" />

<label for="event[location]">Location</label>
<input name="event[location]" type="text" value="<%= @event.location%>" />

<label for="event[color]">Event Color</label>
<select name="event[color]">
	<option value="blue">Blue</option>
	<option value="dark-gray">Dark Gray</option>
	<option value="dark-gray-blue">Dark Gray Blue</option>
	<option value="forest-green">Forest Green</option>
	<option value="light-gray">Light Gray</option>
	<option value="lime-popsicle">Lime Popsicle</option>
	<option value="mac-n-cheese">Mac 'n' Cheese</option>
	<option value="pink">Pink</option>
	<option value="purple">Purple</option>
	<option value="red">Red</option>
	<option value="sunset-orange">Sunset Orange</option>
	<option value="turquoise">Turquoise</option>
</select>

<label for="event[image]">Image:</label>
<% if @event.image.nil? %>
	<img src="<%= @event.logo.image(:thumb) %>" />
<% end %>
<input type="file" name="event[image]" />

<label for="start_day">Start Day</label>
<input type="text" name="start_day" id="start_day" class="date-picker" readonly="readonly" />

<label for="end_day">End Day</label>
<input type="text" name="end_day" id="end_day" class="date-picker" readonly="readonly" />

<!-- <link rel="stylesheet" type="text/css" href="/css/datepicker.css" /> -->
<script src="/js/datepicker.js"></script>
<script src="/js/date.js"></script>
<!--[if IE]>
	<script type="text/javascript" src="scripts/jquery.bgiframe.js"></script>
<![endif]-->