<section class="left-33">
	<h3>New Event</h3>
	<p>Create your new event here. You can send invitations on the next page.</p>
</section>

<section class="right-67">
	<form id="form-event" action="/events" method="post" enctype="multipart/form-data">
		<%= erb :'events/form' %>
		<input type="submit" value="Create Event" />
	</form>
</section>

<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>
<script src="/js/jquery.filestyle.min.js"></script>