<h6>Find me in views/events/questions/answer.erb</h6>

<h1>Answer the Events Questions</h1>
<p>We need to know if everyone speaks english</p>


<form action="/answers" method="post">
	
	<% @event.questions.each do |question| %>
		
		<% if question.type == "text" %>
			<label for="answer[text_answer]"><%= question.text %></label>
			<input name="answer[text_answer]" type="text" value="<%= @answer.text_answer%>" />
		<% end %>


	<% end %>

	
	<input type="submit" value="Submit Answers" />
</form>


property :text_answer,    String    # An answer to question_id, that is a String
property :int_answer, 		Integer		# An answer to question_id, that is an int (or boolean)