<section class="left-33">
	<h3>Add Activity</h3>
	
	<p>Add activities to your event's agenda, including speakers and lunch!</p>
</section>

<section class="right-67">
	<form id="form-activity" action="/activities" method="post">
		<input name="session" type="hidden" value="<%= @session.id %>" />
		<%= erb :'activities/form' %>
		<input type="submit" value="Add" />
	</form>
</section>

<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>