<section class="left-33">
	<h3>Create a New Activity</h3>
	
	<p>If you have no activities why would people come to your event?</p>

	<p>Find me in views/activities/new.erb</p>
	
</section>

<section class="right-67">
	<form id="form-activity" action="/activities" method="post">
		<input name="session" type="hidden" value="<%= @session.id %>" />
		<%= erb :'activities/form' %>
		<input type="submit" value="Add" />
	</form>
</section>

<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>