<h6>Find me in views/activities/new.erb</h6>

<h1>Create a New Activity</h1>
<p>If you have no activities why would people come to your event?</p>


<form action="/activities" method="post">
	<%= erb :'activities/form' %>
	<input type="submit" value="Add" />
</form>


