<section class="left-50">
	<h2>Get to know the people around you.</h2>
	
	<ul>
		<li><span id="feature1"></span>Create personalized name tags on the fly</li>
		<li><span id="feature2"></span>Fast (90 sec) sign up for attendees</li>
		<li><span id="feature3"></span>Extend your event with social tools</li>
		<li><span id="feature4"></span>A customized social network for your event</li>
		<li><span id="feature5"></span>Match attendees for more effective networking</li>
	</ul>
</section>

<section class="right-50">
	<form action="/signup" method="post">
		<input name="email" type="text" value="name@email.com" class="focus-hide" />
		<input name="password" type="password" value="password" class="focus-hide" />
		
		<!-- <a href="/auth/linked_in" id="linkedin">
			<img src="images/social_linkedin.gif" alt="" />
		</a> -->
		<input name="sign_up" type="submit" value="Sign Up" />
		<input name="sign_up" type="submit" id="linked_in" value="LinkedIn"><img src="images/social_linkedin.gif" alt="" /></input>
		<input name="sign_up" type="submit" id="facebook"  value="Facebook"><img src="images/social_facebook.gif" alt="" /></input>
		
		<p>You can sign in with your <strong>LinkedIn</strong> or <strong>Facebook</strong> accounts.</p>
	</form>
	
</section>
<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>