<section id="landing">
	<h1>Get to know the<br />people around you</h1>
	<h2>With a customized social network for your event</h2>
	
	<ul>
		<li><a href="javascript: void(0)" class="learn-more">Learn More</a></li>
		<li><a href="javascript: void(0)" class="sign-up">Sign Up</a></li>
	</ul>
	
	<hr class="landing learn-more" />
	
	<h1>Event Organizers</h1>
	
	<section class="features">
		<article>
			<h3>Online Presence</h3>
			<p>Extend and expand your conference's online presence.</p>
		</article>
		<article class="middle">
			<h3>Better Networking</h3>
			<p>Help attendees network based on criteria you select.</p>
		</article>
		<article>
			<h3>Social Network</h3>
			<p>Create a secure, robust social network for your event.</p>
		</article>
	</section>
	
	<h1>Attendees</h1>
	
	<section class="features">
		<article>
			<h3>Fast Sign Up</h3>
			<p>Fast (90 sec) sign up. Finally remember that guy's name.</p>
		</article>
		<article class="middle">
			<h3>Save a Tree</h3>
			<p>Kill business cards. Save a tree, make a contact.</p>
		</article>
		<article>
			<h3>Meet People</h3>
			<p>Meet people <em>you</em> want to meet. Not just those in line at the bar.</p>
		</article>
	</section>
	
	<hr class="landing sign-up" />
	
	<h1>Sign Up</h1>
	<h2>You can sign up with your LinkedIn or Facebook account</h2>
	
	<form action="/signup" method="post">
		<input name="email" type="text" value="name@email.com" class="focus-hide" />
		<input name="password" type="password" value="password" class="focus-hide" />
		
		<input name="sign_up" id="signup" type="submit" value="Sign Up" />
		<input name="sign_up" id="linkedin" type="submit" value="LinkedIn" />
		<input name="sign_up" id="facebook" type="submit" value="Facebook" />
	</form>
</section>