<!DOCTYPE html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
  	<% if current_user %>
  		<p>Welcome <%= current_user.name %></p>
      <form action="/logout" method="post">
        <input name="_method" type="hidden" value="delete" />
        <input type="submit" value="Sign Out" />
      </form>
  	<% end %>
    <%= erb :flash %>
    <%= yield %>
  </body>
</html>
