<!doctype html>
<html lang="en">
	<head>
		<title>Hello, my name is Proximate.</title>
		<link href="/style.css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:100|Sue+Ellen+Francisco|Istok+Web:700italic,400,700,400italic' rel='stylesheet' type='text/css'>
		<link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<style type="text/css">
				.clear {
					display: block;
					zoom: 1;
				}
			</style>
		<![endif]-->

	</head>
	<body>
		<div class="container" style="height: 388px; left: 50%; margin: -194px 0 0 -300px; position: absolute; top: 50%; width: 600px;">
			
			<div class="top" style="width: 598px;">
				<h2><span>Hello</span> my name is</h2>
			</div>
			
			<div class="mid" style="width: 508px;">
			    <%= yield %>
			</div>
			
			<div class="bot"></div>
			
		</div> <!-- //container -->
			
	</body>
</html>
