<!doctype html>
<html>
	<head>
		<title>Hello, my name is Proximate.</title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:100|Sue+Ellen+Francisco|Istok+Web:700italic,400,700,400italic' rel='stylesheet' type='text/css'>
		
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<style type="text/css">
				.clear {
					display: block;
					zoom: 1;
				}
			</style>
		<![endif]-->

	</head>
	<body>
		<div id="container">
			<header>
				<h1><a href="/">Pr<span>o</span>ximate Logo Belongs Here</a></h1>
				
				<nav>
					<ul>
						<li><a href="javascript: void(0)">how to use</a></li>
						<li><a href="javascript: void(0)">plans & pricing</a></li>
						<li><a href="javascript: void(0)">blog</a></li>
						<li><a href="javascript: void(0)">say hello</a></li>
						<li>
						  	<% if current_user %>
						  		<a href="/users/<%= current_user.id %>" id="login">view profile</a>
						  	<% else %>
								<a href="/login" id="login">log in</a>
						  	<% end %>
						</li>
					</ul>
				</nav>
			</header>
			
			<div id="top">
				<p><span>Hello</span> my name is</p>
			</div>
			
			<div id="mid">
			    <%= erb :flash %>
			    <%= yield %>

			</div>
			
			<div id="bot"></div>
			
			<footer>
				<span  class='st_twitter_hcount' displayText='Tweet'></span><span  class='st_facebook_hcount' displayText='Facebook'></span><span  class='st_linkedin_hcount' displayText='LinkedIn'></span><span  class='st_fblike_hcount' ></span>
			</footer>
			
		</div> <!-- //container -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src="/js/scripts.js"></script>
		<script src="/js/validate.js"></script>
		<script type="text/javascript">var switchTo5x=true;</script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher:'d4421eb4-bd0a-4665-ba3d-bfad0daebe1b'});</script>
	</body>
</html>
