@charset "UTF-8";

/* Proximate Styles 1.0
 * Author: Sarah Canieso
 */
 
/* CSS5 */
header,footer,article,section,hgroup,nav,figure{display:block;}

/* http://meyerweb.com/eric/tools/css/reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,hr,p,input,textarea,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}:focus{outline:none}::-moz-focus-inner { border: 0;}

/* mixins */

@mixin gradient($top, $bot) {
	background: $bot;
	background-image: -moz-linear-gradient(top, $top, $bot);
	background-image: -ms-linear-gradient(top, $top, $bot);
	background-image: -o-linear-gradient(top, $top, $bot);
	background-image: -webkit-gradient(linear, left top, left bottom, from($top), to($bot));
	background-image: -webkit-linear-gradient(top, $top, $bot);
	background-image: linear-gradient(top, $top, $bot);
}

@mixin gradient-image($top, $bot, $img) {
	background: $bot no-repeat center center;
	background-image: url('images/'+$img), -moz-linear-gradient(top, $top, $bot);
	background-image: url('images/'+$img), -ms-linear-gradient(top, $top, $bot);
	background-image: url('images/'+$img), -o-linear-gradient(top, $top, $bot);
	background-image: url('images/'+$img), -webkit-gradient(linear, left top, left bottom, from($top), to($bot));
	background-image: url('images/'+$img), -webkit-linear-gradient(top, $top, $bot);
	background-image: url('images/'+$img), linear-gradient(top, $top, $bot);
}

@mixin radius($rad) {	
	-moz-border-radius: $rad;
	-ms-border-radius: $rad;
	-o-border-radius: $rad;
	-webkit-border-radius: $rad;
	border-radius: $rad;	
}

@mixin radius-top($rad) {
	-moz-border-radius-topleft: $rad;
	-moz-border-radius-topright: $rad;
	-ms-border-top-left-radius: $rad;
	-ms-border-top-right-radius: $rad;
	-o-border-radius-topleft: $rad;
	-o-border-radius-topright: $rad;
	-webkit-border-top-left-radius: $rad;
	-webkit-border-top-right-radius: $rad;
	border-top-left-radius: $rad;
	border-top-right-radius: $rad;
}

@mixin radius-bot($rad) {
	-moz-border-radius-bottomleft: $rad;
	-moz-border-radius-bottomright: $rad;
	-ms-border-bottom-left-radius: $rad;
	-ms-border-bottom-right-radius: $rad;
	-o-border-radius-bottomleft: $rad;
	-o-border-radius-bottomright: $rad;
	-webkit-border-bottom-left-radius: $rad;
	-webkit-border-bottom-right-radius: $rad;
	border-bottom-left-radius: $rad;
	border-bottom-right-radius: $rad;
}

@mixin radius-left($rad) {
	-moz-border-radius-bottomleft: $rad;
	-moz-border-radius-topleft: $rad;
	-ms-border-bottom-left-radius: $rad;
	-ms-border-top-left-radius: $rad;
	-o-border-radius-bottomleft: $rad;
	-o-border-radius-topleft: $rad;
	-webkit-border-bottom-left-radius: $rad;
	-webkit-border-top-left-radius: $rad;
	border-bottom-left-radius: $rad;
	border-top-left-radius: $rad;
}

@mixin radius-right($rad) {
	-moz-border-radius-bottomright: $rad;
	-moz-border-radius-topright: $rad;
	-ms-border-bottom-right-radius: $rad;
	-ms-border-top-right-radius: $rad;
	-o-border-radius-bottomright: $rad;
	-o-border-radius-topright: $rad;
	-webkit-border-bottom-right-radius: $rad;
	-webkit-border-top-right-radius: $rad;
	border-bottom-right-radius: $rad;
	border-top-right-radius: $rad;
}

@mixin boxshadow($hilite) {
	-moz-box-shadow: $hilite;
	-ms-box-shadow: $hilite;
	-o-box-shadow:$hilite;
	-webkit-box-shadow: $hilite;
	box-shadow: $hilite;
}

@mixin boxshadow2($hilite, $shad) {
	-moz-box-shadow: $hilite, $shad;
	-ms-box-shadow: $hilite, $shad;
	-o-box-shadow:$hilite, $shad;
	-webkit-box-shadow: $hilite, $shad;
	box-shadow: $hilite, $shad;
}

@mixin button($width) {
	@include boxshadow(0 1px 1px 0 #eee);
	@include gradient(#f6f6f6, #eee);
	@include radius(4px);
	
	border: 1px solid #dbdbdb;
	color: #b8b8b8;
	cursor: pointer;
	float: left;
	font-size: 18px;
	line-height: 1em;
	min-width: $width;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px #fff;
				
	img {
		@include boxshadow(1px 1px 1px 0 #fff);
	}
				
	&:hover {
		@include boxshadow2(inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #ccc);
		@include gradient(#df4c4b, #c43037);
		border: 1px solid #884f51;
		color: #7e171e;
		text-shadow: 0 1px 1px #e35851;
			
		img {
			@include boxshadow(1px 1px 1px 0 #e35851);
		}
	}
				
	&:active {
		@include gradient(#c43037, #df4c4b);
		@include boxshadow(none);
		border: 1px solid #884f51;
		color: #7e171e;
		text-shadow: 0 1px 1px #e35851;
	}
}

@mixin button-image($width, $img) {
	@include boxshadow(0 1px 1px 0 #eee);
	@include gradient-image(#f6f6f6, #eee, $img);
	@include radius(4px);
	
	border: 1px solid #dbdbdb;
	color: transparent;
	cursor: pointer;
	float: left;
	font-size: 0;
	line-height: 0;
	min-width: $width;
	overflow: hidden;
	padding: 23px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px #fff;
				
	img {
		@include boxshadow(1px 1px 1px 0 #fff);
	}
				
	&:hover {
		@include boxshadow2(inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #ccc);
		@include gradient-image(#df4c4b, #c43037, $img);
		border: 1px solid #884f51;
		color: #7e171e;
		text-shadow: 0 1px 1px #e35851;
			
		img {
			@include boxshadow(1px 1px 1px 0 #e35851);
		}
	}
				
	&:active {
		@include gradient-image(#c43037, #df4c4b, $img);
		@include boxshadow(none);
		border: 1px solid #884f51;
		color: #7e171e;
		text-shadow: 0 1px 1px #e35851;
	}
}

@mixin buttontrio($width: 130px) {
	@include button($width);
	
	&#signup{
		@include radius(0);
		@include radius-left(4px);
		height: 48px;
	}
	
	&#linkedin {
		@include button-image($width, 'social_linkedin.gif');
		@include radius(0);
		border-left: 0;
		border-right: 0;
		
		&:hover {
			border: 1px solid #884f51;
			width: $width - 2px;
		}
	}
	
	&#facebook {
		@include button-image($width, 'social_facebook.gif');
		@include radius(0);
		@include radius-right(4px);
	}

}

@mixin container {
	float: left;
	@include radius(4px);
	background: #f5f5f5;
	border: 1px solid #e8e8e3;
	padding: 20px;
}

@mixin barcolor($color) {
	.top, .bot {
		@include gradient($color, $color - #111);
		@include boxshadow(inset 0 1px 1px 0 $color + #222);
		border: 1px solid $color - #222;
	}
}

@mixin linkcolor($color) {
	.mid a { color: $color; }
}

@mixin inputactive($color, $bg) {			
	.mid input[type=text],
	.mid input[type=password],
	.mid textarea {
		&:hover {
			background: #fafafa;
		}
			
		&.error {
			@include boxshadow(0 0 4px 0 #862020);
			background: #f0b7b7;
			border-color: #dc8181;
			color: #bf4e4d;
			
			&:hover {
				background: #f0b7b7;
			}
		}
	}
	.mid input[type=text].active,
	.mid input[type=password].active,
	.mid textarea.active {
		@include boxshadow2(inset 0 2px 2px 0 $bg - #111, 0 0 4px 0 $color);
		background: $bg;
		border: 1px solid $color + #444;
		color: $color;
		
		&:hover {
			background: $bg;
		}
	}
}

@mixin color($color, $bg) {
	@include barcolor($color);
	@include linkcolor($color);
	@include inputactive($color, $bg);
}

/* variables */
$raleway: 'Raleway', 'Arial', sans-serif;
$suellen: 'Sue Ellen Francisco', cursive;
$istok: 'Istok Web', 'Arial', sans-serif;

$color: #3870d1;

/* styles */

html {
	overflow-y: scroll;
}

body {
	background: #fafafa;
	color: #909090;
	font-family: $istok;
	font-size: 18px;
	line-height: 1.4em;
	
	a {
		text-decoration: none;
	}
	
	strong {
		font-weight: bold;
	}
	
	em {
		font-style: italic;
	}
}

.container {
	margin: 0 auto;
	width: 960px;
	
	@include color(#3870d1, #ecf0f8);
	
	&.dark-gray { @include color(#777, #e8e8e8); }
	&.dark-gray-blue { @include color(#30627c, #dfe8ed); }
	&.forest-green { @include color(#016367, #e3f6ea); }
	&.light-gray { @include color(#ccc, #e8e8e8); }
	&.lime-popsicle { @include color(#99cb02, #f3f7e6); }
	&.mac-n-cheese { @include color(#fecb00, #f7f3e2); }
	&.pink { @include color(#ff679a, #f9eaef); }
	&.purple { @include color(#cf6bcf, #feeafe); }
	&.red { @include color(#e70000, #fbe6e6); }
	&.sunset-orange { @include color(#ff6600, #fcf0e8); }
	&.turquoise { @include color(#29abcd, #effcff); }
}

header {
	float: left;
	padding: 0 0;
	width: 100%;
	
	&.sticky {
		background: #fafafa;
		position: fixed;
		top: 0;
	}
	
	#logo {
		float: left;
		margin: 40px 0;
		
		h1 {
			a {
				color: $color;
				float: left;
				font-family: $suellen;
				font-size: 24px;
				
				&:hover {
					color: red;
					
					span {
						color: $color;
					}
				}
				
				span {
					color: red;
				}
			}
		}
	}
	
	#user-info {
		float: left;
		margin: 20px 0 10px;
		width: 500px;
		
		a {
			color: $color;
			font-weight: normal;
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
		
		h2, h3, h4, p {
			float: left;
			width: 405px;
		}
		
		h2 {
			font-size: 24px;
			color: $color;
			line-height: 1em;
			margin: 0 0 5px 0;
			
			a {
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
		
		h3 {
			font-size: 14px;
			font-weight: bold;
			line-height: 1em;
			margin: 0 0 4px 0;
		}
			
		h4 {
			font-size: 14px;
			color: #b8b8b8;
			font-weight: normal;
			line-height: 1em;
			margin: 0 0 2px 0;
		}
		
		p {
			line-height: 1em;
			margin: 0;
			
			a {
				font-size: 14px;
			}
			
		}
		
		img {
			float: left;
			height: 80px;
			margin: 0 15px 15px 0;
			width: 80px;
		}
	}
	
	nav {
		float: right;
		font-size: 14px;
		margin: 40px 0;
		
		ul {
			
			li {
				float: left;
				margin: 0 0 0 40px;
				
				a, a:visited {
					color: #909090;
					float: left;
					min-width: 1px;
					
					&.log-in {
						color: $color - #111;
						font-weight: bold;
					}
					&:hover {
						color: #df4c4b;
						text-decoration: underline;
					}
					/*

					&.active {
						color: #df4c4b;
						font-weight: bold;
					}
*/
				}
			}
		}
		
		&#dashboard-nav {
			margin: 20px 0;
			
			li {
				display: block;
				float: left;
				height: 24px;
				
				a#notifications {
					@include radius(2px);
					background: #f4f4f4;
					border: 1px solid #f4f4f4 - #111;
					line-height: 1em;
					padding: 4px 8px;
					
					&:hover {
						color: #909090;
						text-decoration: none;
					}
				}
			
				.level-2 {
					@include radius-bot(4px);
					background: #fff;
					border-bottom: 1px solid #f4f4f4 - #111;
					border-left: 1px solid #f4f4f4 - #111;
					border-right: 1px solid #f4f4f4 - #111;
					display: none;
					font-size: 14px;
					line-height: 1.3em;
					margin: 22px 0 0;
					min-width: 1px;
					position: absolute;
					width: 270px;
					z-index: 10;
					
					a {
						float: none;
						text-decoration: underline;
						
						&:hover {
							text-decoration: none;
						}
					}
					
					h6, li {
						margin: 0;
						min-height: 16px;
						padding: 5px 10px;
						width: 250px;
					}
					
					h6 {
						background: #f4f4f4;
						border-bottom: 1px solid #f4f4f4 - #111;
						border-top: 1px solid #f4f4f4 - #111;
						color: $color;
						font-weight: bold;
					}
					
					li {
						border-top: 1px solid #f4f4f4;
						height: 100%;
					}
				}
			}
			
			input { /* log out link */
				background: transparent;
				border: none;
				color: $color - #111;
				cursor: pointer;
/* 				float: right; */
				font-size: 14px;
				font-weight: bold;
				line-height: 1.3em;
				margin: 2px 0;
				padding: 0;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
} /* end header */

.top {
	@include radius-top(10px);
	color: #f7f7f7;
	float: left;
	line-height: 1em;
	width: 960px;
	
	&.sticky {
		margin: 105px 0 0;
	}
	
	h2 {
		padding: 5px;
		text-align: center;
		
		span {
			display: block;
			font-size: 24px;
			line-height: 1em;
			text-transform: uppercase;
		}
	}
	
	p {
		float: left;
		padding: 15px;
	}
	
	a.button {
		@include button(1px);
		@include boxshadow(none);
		float: right;
		font-size: 14px;
		height: 14px;
		margin: 10px;
		padding: 6px 12px;
		
		&:hover, &:active {
			@include boxshadow(none);
		}
	}
	
	input.button {
		@extend a.button;
		height: 28px;
	}
}

.mid {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float: left;
	padding: 45px;
	width: 870px;

	hr {
		color: #eaeaea;
		background: #eaeaea;
		float: left;
		height: 1px;
		margin: 20px 0;
		width: 100%;
	}	
	
	.nametag-lg {
		overflow: hidden;
		width: 580px;
		
		div {
			float: right;
			width: 438px;
		}
		
		img {
			float: left;
			height: 80px;
			margin: 0 20px 0 0;
			width: 80px;
		}

		p {
			font-size: 14px;
			line-height: 1.3em;
			margin: 0 0 5px 0;
		}
		
		.top, .bot {
			text-align: center;
			width: 578px;
		}
		
		.mid {
			padding: 20px;
			width: 538px;

			span {
				clear: both;
				color: #ccc;
				float: left;
				font-size: 14px;
				line-height: 1.3em;
				margin: 0 20px 0 0;
				width: 80px;
			}
		}
		
		.social {
			background: url('/images/socialicons.gif') no-repeat;
			display: block;
			float: left;
			font-size: 0;
			height: 35px;
			line-height: -9999em;
			margin: 5px 12px 0 0;
			overflow: hidden;
			width: 32px;
			
			&.email {
				background-position: -1px 0;
				&:hover {
					background-position: -1px -36px;
				}
				&:active {
					background-position: -1px -72px;
				}
			}
			
			&.www {
				background-position: -33px 0;
				&:hover {
					background-position: -33px -36px;
				}
				&:active {
					background-position: -33px -72px;
				}
			}
			
			&.linkedin {
				background-position: -65px 0;
				&:hover {
					background-position: -65px -36px;
				}
				&:active {
					background-position: -65px -72px;
				}
			}
			
			&.facebook {
				background-position: -97px 0;
				&:hover {
					background-position: -97px -36px;
				}
				&:active {
					background-position: -97px -72px;
				}
			}
			
			&.twitter {
				background-position: -129px 0;
				&:hover {
					background-position: -129px -36px;
				}
				&:active {
					background-position: -129px -72px;
				}
			}
		}
	}
	
	.nametag-sm {
		float: left;
		overflow: hidden;
		margin: 0 20px 20px 0;
		width: 245px;
		
		div {
			float: left;
			width: 168px;
		}
		
		h2 {
			strong {
				font-weight: normal;
				text-transform: uppercase;
			}
		}
		
		h4 {
			font-size: 16px;
			margin: 0 0 1px 0;
		}
		
		h5 {
			font-size: 15px;
			line-height: 1.3em;
		}
		
		h6 {
			font-size: 14px;
		}
		
		img {
			float: left;
			height: 45px;
			margin: 0 10px 0 0;
			width: 45px;
		}
		
		.top, .bot {
			text-align: center;
			width: 243px;
		}
		
		.mid {
			height: 90px;
			padding: 10px;
			width: 223px;
		}
		.bot {
			height: 15px;
		}
		.social {
			background: url('/images/socialicons_sm.gif') no-repeat;
			display: block;
			float: left;
			font-size: 0;
			height: 22px;
			line-height: -9999em;
			margin: 5px 8px 0 0;
			overflow: hidden;
			width: 20px;
			
			&.email {
				background-position: 0 0;
				&:hover {
					background-position: 0 -22px;
				}
				&:active {
					background-position: 0px -44px;
				}
			}
			
			&.www {
				background-position: -20px 0;
				&:hover {
					background-position: -20px -22px;
				}
				&:active {
					background-position: -20px -44px;
				}
			}
			
			&.linkedin {
				background-position: -40px 0;
				width: 19px;
				&:hover {
					background-position: -40px -22px;
				}
				&:active {
					background-position: -40px -44px;
				}
			}
			
			&.facebook {
				background-position: -60px 0;
				&:hover {
					background-position: -60px -22px;
				}
				&:active {
					background-position: -60px -44px;
				}
			}
			
			&.twitter {
				background-position: -80px 0;
				&:hover {
					background-position: -80px -22px;
				}
				&:active {
					background-position: -80px -44px;
				}
			}
		}
	}
		
	h3 {
		color: #484848;
		font-family: $raleway;
		font-size: 36px;
		line-height: 1em;
		margin: 0 0 20px 0;
	}
	
	h4 {
		color: #484848;
		font-size: 24px;
		line-height: 1.2em;
		margin: 0 0 5px 0;
	}
	
	h5 {
		font-style: italic;
		line-height: 1.2em;
		margin: 0 0 5px 0;

		span {
			color: #ccc;
			font-size: 14px;
		}
	}
	
	h6 {
		color: #ccc;
		font-family: $istok;
		font-size: 14px;
		line-height: 1.5em;
		text-transform: uppercase;
	}
	
	span {
		&.date {
			@include radius(4px);
			background: #fafafa;
			border-bottom: 1px solid #ccc;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			float: left;
			font-size: 18px;
			line-height: 1em;
			margin: 0 15px 0 0;
			text-align: center;
			width: 40px;
			
			strong {
				@include boxshadow(inset 0 2px 2px 0 #f46766);
				@include gradient(#df4c4b, #c43037);
				@include radius-top(4px);
				border: 1px solid #884f51;
				color: #7e171e;
				float: left;
				font-size: 14px;
				line-height: 1em;
				margin: 0 0 4px -1px;
				padding: 2px 0;
				text-shadow: 0 1px 1px #e35851;
				text-transform: uppercase;
				width: 40px;
			}
		}
	}
	
	table {
		border: 1px solid #d8d8d8;
		float: left;
		margin: 15px 0 0;
		text-align: left;
		width: 100%;
		
		thead {
			width: 100%;
			
			th {
				@include gradient(#f6f6f6, #eee);
				@include boxshadow(inset 0 1px 1px 0 #eee);
				
				border: 1px solid #dbdbdb;
				border: 1px solid #dbdbdb;
				color: #b8b8b8;
				padding: 10px;
			}
		}
		tr {
			td {
				padding: 10px;
			}
			&.even {
				background: #eee;
			}
		}
	}
	
	ul.table {
		@include radius(4px);
		border: 1px solid #ccc;
		float: left;
		width: 100%;
		
		li {
			border-bottom: 1px solid #d8d8d8;
			color: #b8b8b8;
			display: block;
			float: none;
			padding: 10px;
			width: 560px;
			
			div {
				float: left;
				width: 490px;
			}
			
			h4 {
				width: 490px;
			}
			
			h6 {
				line-height: 1.8em;
				margin: 0 0 15px 0;
			}
			
			p {
				color: #ccc;
				font-family: $istok;
				font-size: 14px;
				line-height: 1.8em;
				margin: 0;

				span {
					float: left;
					width: 140px;
				}
				
				strong {
					font-size: 18px;
				}
			}
			
			&.even {
				background: #eee;
			}
			
			&.last {
				border: 0;
			}
		}
	}
	
	.landing {
		h1 {
			color: #484848;
			float: left;
			font-family: $raleway;
			font-size: 70px;
			line-height: 1em;
			margin: 0 auto 20px;
			text-align: center;
			width: 100%;
			
			&.learn-more {
				font-size: 55px;
				line-height: 1em;
				margin: 0 auto 15px;
			}
		}
		
		h2 {
			color: $color;
			float: left;
			font-family: $suellen;
			font-size: 40px;
			line-height: 1em;
			margin: 0 auto 40px;
			text-align: center;
			text-transform: lowercase;
			width: 100%;
		}

		.features {
			margin: 0 auto;
			width: 540px;
			
			article {
				float: left;
				width: 160px;
				
				&.middle {
					margin: 0 30px;
				}
			
				h3 {
					@extend h2;
					font-size: 30px;
					margin: 0 auto 20px;
					text-align: left;
				}
				
				p {
					font-size: 16px;
				}
			}
		}
		
		.buttons {
			margin: 0 auto;
			width: 267px;
			
			a {
				@include button(100px);
			}
		}
		
				
		.button {
			margin: 0 auto;
			width: 133px;
			
			a {
				@include button(100px);
			}
		}
		
		form {
			margin: 0 auto;
			width: 530px;
			
			input[type=text],
			input[type=password] {
				width: 494px;
			}
			
			input[type=submit] {
				@include buttontrio(175px);
			}
		}
	} /* landing */
	
	p {
		margin: 0 0 20px 0;
	}
	
	a {
		text-decoration: underline;
		
		&:hover {
			text-decoration: none;
		}
		
		&.button {
			@include button(150px);
			float: right;
			margin: 0 0 20px 0;
		}
	}
	
	form {
	
		fieldset.radio {
			margin: 0 0 25px 0;
		}
		
		input[type=text],
		input[type=password],
		input.file {
			@include radius(4px);
			@include boxshadow2(inset 0 2px 2px 0 #f7f7f7, 0 0 0 0 #fff);
			border: 1px solid #dedede;
			color: #bbb;
			height: 21px;
			line-height: 1em;
			margin: 0 0 20px 0;
			padding: 13px 18px;
		}
		
		input[type=file] {
			margin: 8px 0 30px 0;

		}
		
		input[type=radio] {
			margin: 0 10px 0 0;
		}
	
		input[type=submit] {
			@include button(110px);
			float: right;
		}
		
		textarea {
			@extend input[type=text];
			height: 120px;
			line-height: 1.3em;
		}
	}
	
	.left-33 {
		float: left;
		width: 245px;
		
		
		h2 {
			font-size: 14px;
			font-weight: bold;
			margin: 0 0 10px 0;
			text-transform: uppercase;
		}
		
		ul {
			float: left;
			width: 100%;
			
			a {
				&.filtered {
					color: #909090;
					cursor: text;
					text-decoration: none;
				}
			}
		}
		
		p {
			float: left;
			width: 100%;
			img {
				float: left;
				margin: 0 10px 0 0;
				width: 25px;
			}
		}
		
		a {
			font-size: 14px;
			line-height: 1.3em;
		}
		
		img.event-image {
			height: 75px;
			width: 75px;
		}

	}
	
	.left-50 {
		float: left;
		width: 390px;
		
		h2 {
			color: #484848;
			font-family: $raleway;
			font-size: 44px;
			line-height: 1em;
			margin: 0 0 45px 0;
		}
		
		li {
			color: #909090;
			display: block;
			float: left;
			font-size: 15px;
			margin: 0 0 10px 0;
			width: 100%;
			
			span {
				background: url('images/featureicons.jpg') no-repeat -32px 0;
				display: block;
				float: left;
				height: 31px;
				margin: 0 25px 0 0;
				width: 31px;
				
				&#feature1 { background-position: 0 0};
				&#feature2 { background-position: -31px 0};
				&#feature3 { background-position: -62px 0};
				&#feature4 { background-position: -93px 0};
				&#feature5 { background-position: -124px 0};
			}
		}
	}
	
	.right-50 {
		float: right;
		width: 390px;
		
		form { /* hompage form */
			input[type=text],
			input[type=password] {
				width: 354px;
			}
			
			input[type=submit] {
				@include buttontrio;
			}
			
			p {
				color: #ccc;
				float: left;
				font-size: 14px;
				margin: 15px 0 0 0;
			}
		}
	}
	
	.right-67 {
		float: right;
		width: 580px;
		
		ul {
			float: right;
			li {
				float: left;
			}
		}
		
		ol {
			li {
				list-style-type: decimal;
				margin: 0 0 0 30px;
			}
		}
		
		form {
			@include container;
			
			fieldset#terms {
				label {
					width: 100%;
					float: left;
					
					input {
						display: inline;
						float: left;
						margin: 0 0 0 160px;
					}
					
					p {
						float: left;
						margin: 0 0 0 15px;
					}
					
				}
			}
			
			label {
				float: left;
				font-size: 16px;
				height: 35px;
				line-height: 1.2em;
				padding: 18px 0 0;
				width: 160px;
				
				span {
					color: #ccc;
					float: left;
					font-size: 14px;
					width: 90%;
					
					a {
						width: 100%;
					}
				}
				
				&.two-lines {
					padding: 9px 0 0;
				}
				
				&.error {					
					color: #df4c4b;
					float: left;
					margin: 0 0 15px 160px;
					padding: 0;
					width: 340px;
				}
				
				&.radio {
					float: left;
					height: 15px;
					width: 340px;
				}
			}
			
			input[type=text],
			input[type=password],
			select {
				width: 340px;
			}
			
			input.time-picker {
				width: 55px;
			}
			
			input[type=submit] {
				@include buttontrio;
				float: right;
			}
			
			span.date-picker {
				background: url('images/calendar.png') no-repeat center center;
				display: block;
				float: right;
				font-size: 0;
				height: 54px;
				line-height: -9999em;
				overflow: none;
				margin: 0 0 0 -50px;
				position: relative;
				width: 50px;
				z-index: 2;
			}
			
			select {
				height: 30px;
				margin: 18px 0 30px 0;
			}
			
			a {
				@extend .right-50;
			}
		}
		
		#form-login {
			@extend #form-signup;
			
			input[type=text],
			input[type=password] {
				width: 500px;
			}
		}
		
		article {
			@include container;
			margin: 0 0 20px 0;
			width: 540px;
			
			div {
				float: left;
				width: 319px; /* for containing event info on dashboard */
			}
			
			p {
				float: left;
				margin: 0;
			}
			
			img {
				float: left;
				height: 75px;
				margin: 0 15px 0 0;
				width: 75px;
			}
			
			span.tag {
				@include radius-right(4px);
				background: #e8e8e8;
				color: #bbb;
				display: block;
				float: right;
				font-size: 14px;
				margin: 0 0 10px 0;
				padding: 2px 10px;
				position: relative;
				text-transform: uppercase;
				
				&:before {
					border-color: transparent #e8e8e8 transparent transparent;
					border-style: solid;
					border-width: 14px 14px 14px 0;	
					content: "";
					float: left;
					height: 0;	
					left: -14px;
					position: absolute;
					top: 0;
					width: 0;
				}
				
				&:after{
					@include radius(4px);
					@include boxshadow(0 -1px 1px 0 #ffe - #333);
					content:"";
					position:absolute;
					top:10px;
					left:0;
					float:left;
					width:4px;
					height:4px;
					background:#fff;
				}
			}
		}
	}

	article.progress {
		@include container;
		float: left;
		margin: 0 0 45px 0;
		width: 832px;
		
		p {
			font-size: 14px;
			line-height: 1em;
			margin: 0 0 10px 0;
		}
		
		div {
			@include radius(4px);
			background: #eee;
			border: 1px solid #e4e4e4;
			float: left;
			padding: 2px 2px 3px;
			width: 815px;
			
			span {
				@include boxshadow2(inset 0 1px 0 0 #eee, 0 1px 1px 0 #ccc);
				@include gradient(#df4c4b, #c43037);
				@include radius(4px);
				background: url('images/stripes.png');
				float: left;
				height: 20px;
				margin: 0 10px 0 0;
			}
			
			strong {
				color: #ccc;
				float: left;
				font-size: 14px;
				font-weight: normal;
				line-height: 1em;
				margin: 4px 0 0;
			}
		}
	}
	
} /* end .mid */

.bot {
	@include radius-bot(10px);
	color: #fff;
	float: left;
	height: 25px;
	width: 100%;
	
	&.sticky {
	float: left;
		margin: 0 0 300px 0;
	}
}

#form {
	float: right;
	width: 390px;
	
	h2 {
		font-family: $raleway;
		font-size: 54px;
		line-height: 1.2em;
	}

	p {
		color: #bbb;
		margin: 0 0 10px 0;
		text-shadow: 0 1px 1px #fff;
	}
}

/*
#list {
	margin: 30px auto;
	width: 700px;
	
	h1 {
		float: left;
		font-family: $raleway;
		font-size: 54px;
		line-height: 1.2em;
		margin: 0 0 15px 0;
	}
	
	a {
		@include gradient(#f6f6f6, #eee);
		@include radius(4px);
		border: 1px solid #dbdbdb;
		color: #b8b8b8;
		cursor: pointer;
		float: right;
		margin: 8px 0 0 8px;
		padding: 10px 20px;
		text-shadow: 0 1px 1px #fff;
		
		&:hover {
			@include gradient(#df4c4b, #c43037);
			border: 1px solid #884f51;
			color: #7e171e;
			text-shadow: 0 1px 1px #e35851;
		}
		
		&:active {
			@include gradient(#c43037, #df4c4b);
			border: 1px solid #884f51;
			color: #7e171e;
			text-shadow: 0 1px 1px #e35851;
		}
	}
	
	table {
		background: #fff;
		border: 1px solid #d8d8d8;
		float: left;
		margin: 15px 0 0;
		width: 100%;
		
		thead {
			width: 100%;
			
			td {
				@include gradient($color, #2e5cc7);
				@include boxshadow(inset 0 1px 1px 0 #3c7aef);
				
				border: 1px solid #2d59b3;
				border: 1px solid #2d59b3;
				color: #f7f7f7;
				padding: 10px;
			}
		}
		tr {
			td {
				padding: 10px;
			}
			&.even {
				background: #eee;
			}
		}
	}
}
*/

.share {
	@include radius-right(10px);
	background: #eee;
	border: 1px solid #e4e4e4;
	left: 0;
	padding: 10px 5px;
	position: fixed;
	text-align: center;
	top: 35%;
}

footer {
	float: left;
	font-size: 16px;
	padding: 20px 0 40px;
	
	a {
		color: $color;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

table.jCalendar {
	th {
		@include gradient(#eff2f5, #e0e6ec);
		border-bottom: 1px solid #ccc;
		color: #909090;
		font-size: 11px;
		padding: 5px 7px;
	}
	
	td {
		@include boxshadow(inset 0 1px 1px 0 #fff);
		background: #f5f5f5;
		border: 1px solid #e7e9ea;
		padding: 5px 7px;
		text-align: center;
			
		&.other-month {
			color: #c4c4c4;
		}
		&.today {
			@include boxshadow(none);
			background: #ccc;
			color: #fff;
			
			&:hover {
				background: #777;
				color: #fff;
			
			}
		}
		&.selected {
			@include boxshadow(none);
			background: #df4c4b;
			color: #fff;
		}
		&.selected.dp-hover {
			color: #fff;
		}
		
		&.disabled,
		&.disabled.dp-hover,
		&.unselectable,
		&.unselectable:hover,
		&.unselectable.dp-hover {
			color: #e4e4e4;
			text-decoration: line-through;
			&:hover {
				background: #f5f5f5;
			}
		}
		td.dp-hover,
		tr.activeWeekHover td {
			background: #fff;
			color: #000;
		}
		tr.selectedWeek td {
			background: #f66;
			color: #fff;
		}
	}
}
	
	div {
	
		&.dp-popup {
			@include boxshadow(0 0 20px 0 #ccc);
			font-size: 14px;
			left: 910px;
			line-height: 1.2em;
			position: relative;
			width: 217px;
			
			h2 {
				@include radius-top(4px);
				@include gradient($color, $color - #111);
				@include boxshadow(inset 0 1px 1px 0 $color + #222);
				border: 1px solid $color - #222;
				color: #eee;
				font-size: 16px;
				margin: 0;
				padding: 3px 0;
				text-align: center;
			}
			
			a {
				color: #000;
				text-decoration: none;
				padding: 3px 2px 0;
			}
			
			.dp-nav-prev-year,
			.dp-nav-next-year {
				display: none;
			}
		}
		
		&#dp-popup {
			position: absolute;
			z-index: 199;
		
		}
	}
	
	a#dp-close {
		font-size: 11px;
		padding: 4px 0;
		text-align: center;
		display: block;
		
		&:hover {
			text-decoration: underline;
		}
	}
	div.dp-popup div.dp-nav-prev {
		position: absolute;
		top: 2px;
		left: 4px;
		width: 100px;
		
		a {
			float: left;
		}
	}
	/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
	div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
		cursor: pointer;
	}
	div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
		cursor: default;
	}
	div.dp-popup div.dp-nav-next {
		position: absolute;
		top: 2px;
		right: 4px;
		width: 100px;
	}
	div.dp-popup div.dp-nav-next a {
		float: right;
	}
	div.dp-popup a.disabled {
		cursor: default;
	}
	div.dp-popup td {
		cursor: pointer;
	}
	div.dp-popup td.disabled {
		cursor: default;
	}

/* end date picker */

div.tagsinput { 
	@include boxshadow2(inset 0 2px 2px 0 #F7F7F7, 0 0 0 0 white);
	@include radius(4px);
	border: 1px solid #DEDEDE;
	color: #BBB;
	background: #FFF;
	padding:18px; 
	margin: 0 0 20px 0;
	height:100px; 
	overflow-y: auto;
	width: 340px;
	
	span.tag {
		@include radius(4px);
		background: #eee;
		border: 1px solid #ccc;
		color: #909090; 
		display: block; 
		float: left;
		font-size: 14px;
		margin: 0 5px 5px 0;
		padding: 5px;
		text-decoration: none;
		
		a { 
			font-weight: bold;
			text-decoration:none;
			font-size: 14px;
			width: auto;
		}
	}
	
	input { 
		background: transparent;
		border: 1px solid transparent;
		font-size: 14px;
		padding: 5px;
		margin: 0 5px 5px 0;
		outline: 0px;
		width: 100%; 
	}
	
	div {
		display:block;
		float: left;
	}

}
.tags_clear {
	clear: both; width: 100%; height: 0px;
}

/* end tagsinput */

.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.5);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
}

.reveal-modal {
	visibility: hidden;
	top: 100px; 
	left: 50%;
	min-height: 5px;
	margin: 0 0 -20px -300px;
	width: 579px;
	background: #eee /* url(modal-gloss.png) no-repeat -200px -80px */;
	position: absolute;
	z-index: 101;
	padding: 0;
	@include radius(10px);
	@include boxshadow(0 0 10px rgba(0,0,0,.4));
}
	
.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

.reveal-modal .close-reveal-modal {
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
	} 
/* end modal windows */


.flash {
	bottom: 0;
	display: none;
	padding: 20px 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 10;
	
	&#error {
		$errorcolor: #c43037;
		@include boxshadow(hilite 0 2px 2px 0 $errorcolor + #666);
		@include gradient($errorcolor + #444, $errorcolor + #333);
		border-top: 1px solid $errorcolor;
		color: $errorcolor;
	}
	&#success {
		$successcolor: #2e9716;
		@include boxshadow(hilite 0 2px 2px 0 $successcolor + #666);
		@include gradient($successcolor + #444, $successcolor + #333);
		border-top: 1px solid $successcolor;
		color: $successcolor;
	}
	&#warning {
		$successcolor: #fecb00;
		@include boxshadow(hilite 0 2px 2px 0 $successcolor + #666);
		@include gradient($successcolor + #111, $successcolor + #222);
		border-top: 1px solid $successcolor - #222;
		color: $successcolor - #333;
	}
}

::selection {
	background: #c43037;
	color: #fff;
	text-shadow: 0 1px 1px #484848;
}
::-moz-selection {
	background: #c43037;
	color: #fff;
	text-shadow: none;
}

.clear { clear: both; }
.hide { display: none; }
.left { float: left; }
.right { float: right; }