@charset "UTF-8";
/* Proximate Styles 1.0
 * Author: Sarah Canieso
 */
/* CSS5 */
header, footer, article, section, hgroup, nav, figure {
  display: block; }

/* http://meyerweb.com/eric/tools/css/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, input, textarea, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

/* mixins */
/* variables */
/* styles */
html {
  overflow-y: scroll; }

body {
  background: #fafafa;
  color: #909090;
  font-family: "Istok Web", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.4em; }
  body a {
    text-decoration: none; }
  body strong {
    font-weight: bold; }
  body em {
    font-style: italic; }

.container {
  margin: 0 auto;
  width: 960px; }
  .container #top, .container #bot {
    background: #275fc0;
    background-image: -moz-linear-gradient(top, #3870d1, #275fc0);
    background-image: -ms-linear-gradient(top, #3870d1, #275fc0);
    background-image: -o-linear-gradient(top, #3870d1, #275fc0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3870d1), to(#275fc0));
    background-image: -webkit-linear-gradient(top, #3870d1, #275fc0);
    background-image: linear-gradient(top, #3870d1, #275fc0);
    -moz-box-shadow: inset 0 1px 1px 0 #5a92f3;
    -ms-box-shadow: inset 0 1px 1px 0 #5a92f3;
    -o-box-shadow: inset 0 1px 1px 0 #5a92f3;
    -webkit-box-shadow: inset 0 1px 1px 0 #5a92f3;
    box-shadow: inset 0 1px 1px 0 #5a92f3;
    border: 1px solid #164eaf; }
  .container #mid a {
    color: #3870d1; }
  .container #mid input[type=text]:hover, .container #mid form textarea:hover,
  .container #mid input[type=password]:hover,
  .container #mid textarea:hover {
    background: #fafafa; }
  .container #mid input.active,
  .container #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #dbdfe7, 0 0 4px 0 #3870d1;
    -ms-box-shadow: inset 0 2px 2px 0 #dbdfe7, 0 0 4px 0 #3870d1;
    -o-box-shadow: inset 0 2px 2px 0 #dbdfe7, 0 0 4px 0 #3870d1;
    -webkit-box-shadow: inset 0 2px 2px 0 #dbdfe7, 0 0 4px 0 #3870d1;
    box-shadow: inset 0 2px 2px 0 #dbdfe7, 0 0 4px 0 #3870d1;
    background: #ecf0f8;
    border: 1px solid #7cb4ff;
    color: #3870d1; }
    .container #mid input.active:hover,
    .container #mid textarea.active:hover {
      background: #ecf0f8; }
  .container.dark-gray #top, .container.dark-gray #bot {
    background: #666666;
    background-image: -moz-linear-gradient(top, #777777, #666666);
    background-image: -ms-linear-gradient(top, #777777, #666666);
    background-image: -o-linear-gradient(top, #777777, #666666);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#666666));
    background-image: -webkit-linear-gradient(top, #777777, #666666);
    background-image: linear-gradient(top, #777777, #666666);
    -moz-box-shadow: inset 0 1px 1px 0 #999999;
    -ms-box-shadow: inset 0 1px 1px 0 #999999;
    -o-box-shadow: inset 0 1px 1px 0 #999999;
    -webkit-box-shadow: inset 0 1px 1px 0 #999999;
    box-shadow: inset 0 1px 1px 0 #999999;
    border: 1px solid #555555; }
  .container.dark-gray #mid a {
    color: #777777; }
  .container.dark-gray #mid input[type=text]:hover, .container.dark-gray #mid form textarea:hover, .container.dark-gray #mid input[type=password]:hover, .container.dark-gray #mid textarea:hover {
    background: #fafafa; }
  .container.dark-gray #mid input.active, .container.dark-gray #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #d7d7d7, 0 0 4px 0 #777777;
    -ms-box-shadow: inset 0 2px 2px 0 #d7d7d7, 0 0 4px 0 #777777;
    -o-box-shadow: inset 0 2px 2px 0 #d7d7d7, 0 0 4px 0 #777777;
    -webkit-box-shadow: inset 0 2px 2px 0 #d7d7d7, 0 0 4px 0 #777777;
    box-shadow: inset 0 2px 2px 0 #d7d7d7, 0 0 4px 0 #777777;
    background: #e8e8e8;
    border: 1px solid #bbbbbb;
    color: #777777; }
    .container.dark-gray #mid input.active:hover, .container.dark-gray #mid textarea.active:hover {
      background: #e8e8e8; }
  .container.dark-gray-blue #top, .container.dark-gray-blue #bot {
    background: #1f516b;
    background-image: -moz-linear-gradient(top, #30627c, #1f516b);
    background-image: -ms-linear-gradient(top, #30627c, #1f516b);
    background-image: -o-linear-gradient(top, #30627c, #1f516b);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#30627c), to(#1f516b));
    background-image: -webkit-linear-gradient(top, #30627c, #1f516b);
    background-image: linear-gradient(top, #30627c, #1f516b);
    -moz-box-shadow: inset 0 1px 1px 0 #52849e;
    -ms-box-shadow: inset 0 1px 1px 0 #52849e;
    -o-box-shadow: inset 0 1px 1px 0 #52849e;
    -webkit-box-shadow: inset 0 1px 1px 0 #52849e;
    box-shadow: inset 0 1px 1px 0 #52849e;
    border: 1px solid #0e405a; }
  .container.dark-gray-blue #mid a {
    color: #30627c; }
  .container.dark-gray-blue #mid input[type=text]:hover, .container.dark-gray-blue #mid form textarea:hover, .container.dark-gray-blue #mid input[type=password]:hover, .container.dark-gray-blue #mid textarea:hover {
    background: #fafafa; }
  .container.dark-gray-blue #mid input.active, .container.dark-gray-blue #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #ced7dc, 0 0 4px 0 #30627c;
    -ms-box-shadow: inset 0 2px 2px 0 #ced7dc, 0 0 4px 0 #30627c;
    -o-box-shadow: inset 0 2px 2px 0 #ced7dc, 0 0 4px 0 #30627c;
    -webkit-box-shadow: inset 0 2px 2px 0 #ced7dc, 0 0 4px 0 #30627c;
    box-shadow: inset 0 2px 2px 0 #ced7dc, 0 0 4px 0 #30627c;
    background: #dfe8ed;
    border: 1px solid #74a6c0;
    color: #30627c; }
    .container.dark-gray-blue #mid input.active:hover, .container.dark-gray-blue #mid textarea.active:hover {
      background: #dfe8ed; }
  .container.forest-green #top, .container.forest-green #bot {
    background: #005256;
    background-image: -moz-linear-gradient(top, #016367, #005256);
    background-image: -ms-linear-gradient(top, #016367, #005256);
    background-image: -o-linear-gradient(top, #016367, #005256);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#016367), to(#005256));
    background-image: -webkit-linear-gradient(top, #016367, #005256);
    background-image: linear-gradient(top, #016367, #005256);
    -moz-box-shadow: inset 0 1px 1px 0 #238589;
    -ms-box-shadow: inset 0 1px 1px 0 #238589;
    -o-box-shadow: inset 0 1px 1px 0 #238589;
    -webkit-box-shadow: inset 0 1px 1px 0 #238589;
    box-shadow: inset 0 1px 1px 0 #238589;
    border: 1px solid #004145; }
  .container.forest-green #mid a {
    color: #016367; }
  .container.forest-green #mid input[type=text]:hover, .container.forest-green #mid form textarea:hover, .container.forest-green #mid input[type=password]:hover, .container.forest-green #mid textarea:hover {
    background: #fafafa; }
  .container.forest-green #mid input.active, .container.forest-green #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #d2e5d9, 0 0 4px 0 #016367;
    -ms-box-shadow: inset 0 2px 2px 0 #d2e5d9, 0 0 4px 0 #016367;
    -o-box-shadow: inset 0 2px 2px 0 #d2e5d9, 0 0 4px 0 #016367;
    -webkit-box-shadow: inset 0 2px 2px 0 #d2e5d9, 0 0 4px 0 #016367;
    box-shadow: inset 0 2px 2px 0 #d2e5d9, 0 0 4px 0 #016367;
    background: #e3f6ea;
    border: 1px solid #45a7ab;
    color: #016367; }
    .container.forest-green #mid input.active:hover, .container.forest-green #mid textarea.active:hover {
      background: #e3f6ea; }
  .container.light-gray #top, .container.light-gray #bot {
    background: #bbbbbb;
    background-image: -moz-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -ms-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -o-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#bbbbbb));
    background-image: -webkit-linear-gradient(top, #cccccc, #bbbbbb);
    background-image: linear-gradient(top, #cccccc, #bbbbbb);
    -moz-box-shadow: inset 0 1px 1px 0 #eeeeee;
    -ms-box-shadow: inset 0 1px 1px 0 #eeeeee;
    -o-box-shadow: inset 0 1px 1px 0 #eeeeee;
    -webkit-box-shadow: inset 0 1px 1px 0 #eeeeee;
    box-shadow: inset 0 1px 1px 0 #eeeeee;
    border: 1px solid #aaaaaa; }
  .container.light-gray #mid a {
    color: #cccccc; }
  .container.light-gray #mid input[type=text]:hover, .container.light-gray #mid form textarea:hover, .container.light-gray #mid input[type=password]:hover, .container.light-gray #mid textarea:hover {
    background: #fafafa; }
  .container.light-gray #mid input.active, .container.light-gray #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #d7d7d7, 0 0 4px 0 #cccccc;
    -ms-box-shadow: inset 0 2px 2px 0 #d7d7d7, 0 0 4px 0 #cccccc;
    -o-box-shadow: inset 0 2px 2px 0 #d7d7d7, 0 0 4px 0 #cccccc;
    -webkit-box-shadow: inset 0 2px 2px 0 #d7d7d7, 0 0 4px 0 #cccccc;
    box-shadow: inset 0 2px 2px 0 #d7d7d7, 0 0 4px 0 #cccccc;
    background: #e8e8e8;
    border: 1px solid white;
    color: #cccccc; }
    .container.light-gray #mid input.active:hover, .container.light-gray #mid textarea.active:hover {
      background: #e8e8e8; }
  .container.lime-popsicle #top, .container.lime-popsicle #bot {
    background: #88ba00;
    background-image: -moz-linear-gradient(top, #99cb02, #88ba00);
    background-image: -ms-linear-gradient(top, #99cb02, #88ba00);
    background-image: -o-linear-gradient(top, #99cb02, #88ba00);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99cb02), to(#88ba00));
    background-image: -webkit-linear-gradient(top, #99cb02, #88ba00);
    background-image: linear-gradient(top, #99cb02, #88ba00);
    -moz-box-shadow: inset 0 1px 1px 0 #bbed24;
    -ms-box-shadow: inset 0 1px 1px 0 #bbed24;
    -o-box-shadow: inset 0 1px 1px 0 #bbed24;
    -webkit-box-shadow: inset 0 1px 1px 0 #bbed24;
    box-shadow: inset 0 1px 1px 0 #bbed24;
    border: 1px solid #77a900; }
  .container.lime-popsicle #mid a {
    color: #99cb02; }
  .container.lime-popsicle #mid input[type=text]:hover, .container.lime-popsicle #mid form textarea:hover, .container.lime-popsicle #mid input[type=password]:hover, .container.lime-popsicle #mid textarea:hover {
    background: #fafafa; }
  .container.lime-popsicle #mid input.active, .container.lime-popsicle #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #e2e6d5, 0 0 4px 0 #99cb02;
    -ms-box-shadow: inset 0 2px 2px 0 #e2e6d5, 0 0 4px 0 #99cb02;
    -o-box-shadow: inset 0 2px 2px 0 #e2e6d5, 0 0 4px 0 #99cb02;
    -webkit-box-shadow: inset 0 2px 2px 0 #e2e6d5, 0 0 4px 0 #99cb02;
    box-shadow: inset 0 2px 2px 0 #e2e6d5, 0 0 4px 0 #99cb02;
    background: #f3f7e6;
    border: 1px solid #ddff46;
    color: #99cb02; }
    .container.lime-popsicle #mid input.active:hover, .container.lime-popsicle #mid textarea.active:hover {
      background: #f3f7e6; }
  .container.mac-n-cheese #top, .container.mac-n-cheese #bot {
    background: #edba00;
    background-image: -moz-linear-gradient(top, #fecb00, #edba00);
    background-image: -ms-linear-gradient(top, #fecb00, #edba00);
    background-image: -o-linear-gradient(top, #fecb00, #edba00);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fecb00), to(#edba00));
    background-image: -webkit-linear-gradient(top, #fecb00, #edba00);
    background-image: linear-gradient(top, #fecb00, #edba00);
    -moz-box-shadow: inset 0 1px 1px 0 #ffed22;
    -ms-box-shadow: inset 0 1px 1px 0 #ffed22;
    -o-box-shadow: inset 0 1px 1px 0 #ffed22;
    -webkit-box-shadow: inset 0 1px 1px 0 #ffed22;
    box-shadow: inset 0 1px 1px 0 #ffed22;
    border: 1px solid #dca900; }
  .container.mac-n-cheese #mid a {
    color: #fecb00; }
  .container.mac-n-cheese #mid input[type=text]:hover, .container.mac-n-cheese #mid form textarea:hover, .container.mac-n-cheese #mid input[type=password]:hover, .container.mac-n-cheese #mid textarea:hover {
    background: #fafafa; }
  .container.mac-n-cheese #mid input.active, .container.mac-n-cheese #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #e6e2d1, 0 0 4px 0 #fecb00;
    -ms-box-shadow: inset 0 2px 2px 0 #e6e2d1, 0 0 4px 0 #fecb00;
    -o-box-shadow: inset 0 2px 2px 0 #e6e2d1, 0 0 4px 0 #fecb00;
    -webkit-box-shadow: inset 0 2px 2px 0 #e6e2d1, 0 0 4px 0 #fecb00;
    box-shadow: inset 0 2px 2px 0 #e6e2d1, 0 0 4px 0 #fecb00;
    background: #f7f3e2;
    border: 1px solid #ffff44;
    color: #fecb00; }
    .container.mac-n-cheese #mid input.active:hover, .container.mac-n-cheese #mid textarea.active:hover {
      background: #f7f3e2; }
  .container.pink #top, .container.pink #bot {
    background: #ee5689;
    background-image: -moz-linear-gradient(top, #ff679a, #ee5689);
    background-image: -ms-linear-gradient(top, #ff679a, #ee5689);
    background-image: -o-linear-gradient(top, #ff679a, #ee5689);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff679a), to(#ee5689));
    background-image: -webkit-linear-gradient(top, #ff679a, #ee5689);
    background-image: linear-gradient(top, #ff679a, #ee5689);
    -moz-box-shadow: inset 0 1px 1px 0 #ff89bc;
    -ms-box-shadow: inset 0 1px 1px 0 #ff89bc;
    -o-box-shadow: inset 0 1px 1px 0 #ff89bc;
    -webkit-box-shadow: inset 0 1px 1px 0 #ff89bc;
    box-shadow: inset 0 1px 1px 0 #ff89bc;
    border: 1px solid #dd4578; }
  .container.pink #mid a {
    color: #ff679a; }
  .container.pink #mid input[type=text]:hover, .container.pink #mid form textarea:hover, .container.pink #mid input[type=password]:hover, .container.pink #mid textarea:hover {
    background: #fafafa; }
  .container.pink #mid input.active, .container.pink #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #e8d9de, 0 0 4px 0 #ff679a;
    -ms-box-shadow: inset 0 2px 2px 0 #e8d9de, 0 0 4px 0 #ff679a;
    -o-box-shadow: inset 0 2px 2px 0 #e8d9de, 0 0 4px 0 #ff679a;
    -webkit-box-shadow: inset 0 2px 2px 0 #e8d9de, 0 0 4px 0 #ff679a;
    box-shadow: inset 0 2px 2px 0 #e8d9de, 0 0 4px 0 #ff679a;
    background: #f9eaef;
    border: 1px solid #ffabde;
    color: #ff679a; }
    .container.pink #mid input.active:hover, .container.pink #mid textarea.active:hover {
      background: #f9eaef; }
  .container.purple #top, .container.purple #bot {
    background: #be5abe;
    background-image: -moz-linear-gradient(top, #cf6bcf, #be5abe);
    background-image: -ms-linear-gradient(top, #cf6bcf, #be5abe);
    background-image: -o-linear-gradient(top, #cf6bcf, #be5abe);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cf6bcf), to(#be5abe));
    background-image: -webkit-linear-gradient(top, #cf6bcf, #be5abe);
    background-image: linear-gradient(top, #cf6bcf, #be5abe);
    -moz-box-shadow: inset 0 1px 1px 0 #f18df1;
    -ms-box-shadow: inset 0 1px 1px 0 #f18df1;
    -o-box-shadow: inset 0 1px 1px 0 #f18df1;
    -webkit-box-shadow: inset 0 1px 1px 0 #f18df1;
    box-shadow: inset 0 1px 1px 0 #f18df1;
    border: 1px solid #ad49ad; }
  .container.purple #mid a {
    color: #cf6bcf; }
  .container.purple #mid input[type=text]:hover, .container.purple #mid form textarea:hover, .container.purple #mid input[type=password]:hover, .container.purple #mid textarea:hover {
    background: #fafafa; }
  .container.purple #mid input.active, .container.purple #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #edd9ed, 0 0 4px 0 #cf6bcf;
    -ms-box-shadow: inset 0 2px 2px 0 #edd9ed, 0 0 4px 0 #cf6bcf;
    -o-box-shadow: inset 0 2px 2px 0 #edd9ed, 0 0 4px 0 #cf6bcf;
    -webkit-box-shadow: inset 0 2px 2px 0 #edd9ed, 0 0 4px 0 #cf6bcf;
    box-shadow: inset 0 2px 2px 0 #edd9ed, 0 0 4px 0 #cf6bcf;
    background: #feeafe;
    border: 1px solid #ffafff;
    color: #cf6bcf; }
    .container.purple #mid input.active:hover, .container.purple #mid textarea.active:hover {
      background: #feeafe; }
  .container.red #top, .container.red #bot {
    background: #d60000;
    background-image: -moz-linear-gradient(top, #e70000, #d60000);
    background-image: -ms-linear-gradient(top, #e70000, #d60000);
    background-image: -o-linear-gradient(top, #e70000, #d60000);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e70000), to(#d60000));
    background-image: -webkit-linear-gradient(top, #e70000, #d60000);
    background-image: linear-gradient(top, #e70000, #d60000);
    -moz-box-shadow: inset 0 1px 1px 0 #ff2222;
    -ms-box-shadow: inset 0 1px 1px 0 #ff2222;
    -o-box-shadow: inset 0 1px 1px 0 #ff2222;
    -webkit-box-shadow: inset 0 1px 1px 0 #ff2222;
    box-shadow: inset 0 1px 1px 0 #ff2222;
    border: 1px solid #c50000; }
  .container.red #mid a {
    color: #e70000; }
  .container.red #mid input[type=text]:hover, .container.red #mid form textarea:hover, .container.red #mid input[type=password]:hover, .container.red #mid textarea:hover {
    background: #fafafa; }
  .container.red #mid input.active, .container.red #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #ead5d5, 0 0 4px 0 #e70000;
    -ms-box-shadow: inset 0 2px 2px 0 #ead5d5, 0 0 4px 0 #e70000;
    -o-box-shadow: inset 0 2px 2px 0 #ead5d5, 0 0 4px 0 #e70000;
    -webkit-box-shadow: inset 0 2px 2px 0 #ead5d5, 0 0 4px 0 #e70000;
    box-shadow: inset 0 2px 2px 0 #ead5d5, 0 0 4px 0 #e70000;
    background: #fbe6e6;
    border: 1px solid #ff4444;
    color: #e70000; }
    .container.red #mid input.active:hover, .container.red #mid textarea.active:hover {
      background: #fbe6e6; }
  .container.sunset-orange #top, .container.sunset-orange #bot {
    background: #ee5500;
    background-image: -moz-linear-gradient(top, #ff6600, #ee5500);
    background-image: -ms-linear-gradient(top, #ff6600, #ee5500);
    background-image: -o-linear-gradient(top, #ff6600, #ee5500);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6600), to(#ee5500));
    background-image: -webkit-linear-gradient(top, #ff6600, #ee5500);
    background-image: linear-gradient(top, #ff6600, #ee5500);
    -moz-box-shadow: inset 0 1px 1px 0 #ff8822;
    -ms-box-shadow: inset 0 1px 1px 0 #ff8822;
    -o-box-shadow: inset 0 1px 1px 0 #ff8822;
    -webkit-box-shadow: inset 0 1px 1px 0 #ff8822;
    box-shadow: inset 0 1px 1px 0 #ff8822;
    border: 1px solid #dd4400; }
  .container.sunset-orange #mid a {
    color: #ff6600; }
  .container.sunset-orange #mid input[type=text]:hover, .container.sunset-orange #mid form textarea:hover, .container.sunset-orange #mid input[type=password]:hover, .container.sunset-orange #mid textarea:hover {
    background: #fafafa; }
  .container.sunset-orange #mid input.active, .container.sunset-orange #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #ebdfd7, 0 0 4px 0 #ff6600;
    -ms-box-shadow: inset 0 2px 2px 0 #ebdfd7, 0 0 4px 0 #ff6600;
    -o-box-shadow: inset 0 2px 2px 0 #ebdfd7, 0 0 4px 0 #ff6600;
    -webkit-box-shadow: inset 0 2px 2px 0 #ebdfd7, 0 0 4px 0 #ff6600;
    box-shadow: inset 0 2px 2px 0 #ebdfd7, 0 0 4px 0 #ff6600;
    background: #fcf0e8;
    border: 1px solid #ffaa44;
    color: #ff6600; }
    .container.sunset-orange #mid input.active:hover, .container.sunset-orange #mid textarea.active:hover {
      background: #fcf0e8; }
  .container.turquoise #top, .container.turquoise #bot {
    background: #189abc;
    background-image: -moz-linear-gradient(top, #29abcd, #189abc);
    background-image: -ms-linear-gradient(top, #29abcd, #189abc);
    background-image: -o-linear-gradient(top, #29abcd, #189abc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#29abcd), to(#189abc));
    background-image: -webkit-linear-gradient(top, #29abcd, #189abc);
    background-image: linear-gradient(top, #29abcd, #189abc);
    -moz-box-shadow: inset 0 1px 1px 0 #4bcdef;
    -ms-box-shadow: inset 0 1px 1px 0 #4bcdef;
    -o-box-shadow: inset 0 1px 1px 0 #4bcdef;
    -webkit-box-shadow: inset 0 1px 1px 0 #4bcdef;
    box-shadow: inset 0 1px 1px 0 #4bcdef;
    border: 1px solid #0789ab; }
  .container.turquoise #mid a {
    color: #29abcd; }
  .container.turquoise #mid input[type=text]:hover, .container.turquoise #mid form textarea:hover, .container.turquoise #mid input[type=password]:hover, .container.turquoise #mid textarea:hover {
    background: #fafafa; }
  .container.turquoise #mid input.active, .container.turquoise #mid textarea.active {
    /* 		@include boxshadow2(none, none) */
    -moz-box-shadow: inset 0 2px 2px 0 #deebee, 0 0 4px 0 #29abcd;
    -ms-box-shadow: inset 0 2px 2px 0 #deebee, 0 0 4px 0 #29abcd;
    -o-box-shadow: inset 0 2px 2px 0 #deebee, 0 0 4px 0 #29abcd;
    -webkit-box-shadow: inset 0 2px 2px 0 #deebee, 0 0 4px 0 #29abcd;
    box-shadow: inset 0 2px 2px 0 #deebee, 0 0 4px 0 #29abcd;
    background: #effcff;
    border: 1px solid #6defff;
    color: #29abcd; }
    .container.turquoise #mid input.active:hover, .container.turquoise #mid textarea.active:hover {
      background: #effcff; }

header {
  float: left;
  padding: 0 0;
  width: 100%; }
  header #logo {
    float: left;
    margin: 40px 0; }
    header #logo h1 a {
      color: #3870d1;
      float: left;
      font-family: "Sue Ellen Francisco";
      font-size: 24px; }
      header #logo h1 a:hover {
        color: red; }
        header #logo h1 a:hover span {
          color: #3870d1; }
      header #logo h1 a span {
        color: red; }
  header #user-info {
    float: left;
    margin: 20px 0 10px;
    width: 500px; }
    header #user-info a {
      color: #3870d1;
      font-size: 14px;
      font-weight: normal;
      text-decoration: underline; }
      header #user-info a:hover {
        text-decoration: none; }
    header #user-info h2, header #user-info h3, header #user-info h4, header #user-info p {
      float: left;
      width: 405px; }
    header #user-info h2 {
      font-size: 24px;
      color: #3870d1;
      line-height: 1em;
      margin: 0 0 5px 0; }
    header #user-info h3 {
      font-size: 14px;
      font-weight: bold;
      line-height: 1em;
      margin: 0 0 4px 0; }
    header #user-info h4 {
      font-size: 14px;
      color: #b8b8b8;
      font-weight: normal;
      line-height: 1em;
      margin: 0 0 2px 0; }
    header #user-info p {
      line-height: 1em;
      margin: 0; }
    header #user-info img {
      float: left;
      height: 80px;
      margin: 0 15px 15px 0;
      width: 80px; }
  header nav {
    float: right;
    font-size: 14px;
    margin: 40px 0; }
    header nav ul {
      float: right; }
      header nav ul li {
        float: left;
        margin: 0 0 0 40px; }
        header nav ul li a, header nav ul li a:visited {
          color: #909090;
          float: left;
          min-width: 1px; }
          header nav ul li a#login, header nav ul li a:visited#login {
            color: #275fc0;
            font-weight: bold; }
          header nav ul li a:hover, header nav ul li a:visited:hover {
            color: #df4c4b;
            text-decoration: underline; }
    header nav#dashboard-nav {
      margin: 20px 0; }
      header nav#dashboard-nav li span {
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: #f4f4f4;
        border: 1px solid #e3e3e3;
        padding: 1px 4px; }
      header nav#dashboard-nav input {
        /* login */
        background: transparent;
        color: #275fc0;
        cursor: pointer;
        float: right;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: 0; }
        header nav#dashboard-nav input:hover {
          text-decoration: underline; }

/* end header */
#top {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-radius-topleft: 10px;
  -o-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #f7f7f7;
  float: left;
  line-height: 1em;
  padding: 15px;
  width: 930px; }
  #top h3 {
    text-align: center; }
    #top h3 span {
      display: block;
      font-size: 24px;
      line-height: 1em;
      text-transform: uppercase; }

#mid {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  float: left;
  padding: 45px;
  width: 870px; }
  #mid h3 {
    color: #484848;
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 36px;
    line-height: 1em;
    margin: 0 0 20px 0; }
  #mid p {
    margin: 0 0 20px 0; }
  #mid a {
    text-decoration: underline; }
    #mid a:hover {
      text-decoration: none; }
  #mid form input[type=text], #mid form textarea,
  #mid form input[type=password] {
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0 2px 2px 0 #f7f7f7, 0 0 0 0 white;
    -ms-box-shadow: inset 0 2px 2px 0 #f7f7f7, 0 0 0 0 white;
    -o-box-shadow: inset 0 2px 2px 0 #f7f7f7, 0 0 0 0 white;
    -webkit-box-shadow: inset 0 2px 2px 0 #f7f7f7, 0 0 0 0 white;
    box-shadow: inset 0 2px 2px 0 #f7f7f7, 0 0 0 0 white;
    border: 1px solid #dedede;
    color: #bbb;
    height: 16px;
    line-height: 1em;
    margin: 0 0 20px 0;
    padding: 18px; }
    #mid form input[type=text].error, #mid form textarea.error,
    #mid form input[type=password].error {
      -moz-box-shadow: 0 0 4px 0 #862020;
      -ms-box-shadow: 0 0 4px 0 #862020;
      -o-box-shadow: 0 0 4px 0 #862020;
      -webkit-box-shadow: 0 0 4px 0 #862020;
      box-shadow: 0 0 4px 0 #862020;
      background: #f0b7b7;
      border-color: #dc8181;
      color: #bf4e4d; }
      #mid form input[type=text].error:hover, #mid form textarea.error:hover,
      #mid form input[type=password].error:hover {
        background: #f0b7b7; }
  #mid form input[type=submit] {
    background: #eeeeee;
    background-image: -moz-linear-gradient(top, #f6f6f6, #eeeeee);
    background-image: -ms-linear-gradient(top, #f6f6f6, #eeeeee);
    background-image: -o-linear-gradient(top, #f6f6f6, #eeeeee);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eeeeee);
    background-image: linear-gradient(top, #f6f6f6, #eeeeee);
    -moz-box-shadow: 0 1px 1px 0 #eeeeee;
    -ms-box-shadow: 0 1px 1px 0 #eeeeee;
    -o-box-shadow: 0 1px 1px 0 #eeeeee;
    -webkit-box-shadow: 0 1px 1px 0 #eeeeee;
    box-shadow: 0 1px 1px 0 #eeeeee;
    border: 1px solid #dbdbdb;
    color: #b8b8b8;
    cursor: pointer;
    float: left;
    line-height: 1em;
    min-width: 110px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: right; }
    #mid form input[type=submit] img {
      -moz-box-shadow: 1px 1px 1px 0 white;
      -ms-box-shadow: 1px 1px 1px 0 white;
      -o-box-shadow: 1px 1px 1px 0 white;
      -webkit-box-shadow: 1px 1px 1px 0 white;
      box-shadow: 1px 1px 1px 0 white; }
    #mid form input[type=submit]:hover {
      -moz-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
      -ms-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
      -o-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
      -webkit-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
      box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
      background: #c43037;
      background-image: -moz-linear-gradient(top, #df4c4b, #c43037);
      background-image: -ms-linear-gradient(top, #df4c4b, #c43037);
      background-image: -o-linear-gradient(top, #df4c4b, #c43037);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#df4c4b), to(#c43037));
      background-image: -webkit-linear-gradient(top, #df4c4b, #c43037);
      background-image: linear-gradient(top, #df4c4b, #c43037);
      border: 1px solid #884f51;
      color: #7e171e;
      text-shadow: 0 1px 1px #e35851; }
      #mid form input[type=submit]:hover img {
        -moz-box-shadow: 1px 1px 1px 0 #e35851;
        -ms-box-shadow: 1px 1px 1px 0 #e35851;
        -o-box-shadow: 1px 1px 1px 0 #e35851;
        -webkit-box-shadow: 1px 1px 1px 0 #e35851;
        box-shadow: 1px 1px 1px 0 #e35851; }
    #mid form input[type=submit]:active {
      background: #df4c4b;
      background-image: -moz-linear-gradient(top, #c43037, #df4c4b);
      background-image: -ms-linear-gradient(top, #c43037, #df4c4b);
      background-image: -o-linear-gradient(top, #c43037, #df4c4b);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#c43037), to(#df4c4b));
      background-image: -webkit-linear-gradient(top, #c43037, #df4c4b);
      background-image: linear-gradient(top, #c43037, #df4c4b);
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #884f51;
      color: #7e171e;
      text-shadow: 0 1px 1px #e35851; }
  #mid form textarea {
    height: 46px; }
  #mid form label.error {
    color: #df4c4b;
    float: left;
    margin: 0 0 15px 160px;
    padding: 0;
    width: 340px; }
  #mid .left-33 {
    float: left;
    width: 245px; }
    #mid .left-33 a.button {
      background: #eeeeee;
      background-image: -moz-linear-gradient(top, #f6f6f6, #eeeeee);
      background-image: -ms-linear-gradient(top, #f6f6f6, #eeeeee);
      background-image: -o-linear-gradient(top, #f6f6f6, #eeeeee);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eeeeee));
      background-image: -webkit-linear-gradient(top, #f6f6f6, #eeeeee);
      background-image: linear-gradient(top, #f6f6f6, #eeeeee);
      -moz-box-shadow: 0 1px 1px 0 #eeeeee;
      -ms-box-shadow: 0 1px 1px 0 #eeeeee;
      -o-box-shadow: 0 1px 1px 0 #eeeeee;
      -webkit-box-shadow: 0 1px 1px 0 #eeeeee;
      box-shadow: 0 1px 1px 0 #eeeeee;
      border: 1px solid #dbdbdb;
      color: #b8b8b8;
      cursor: pointer;
      float: left;
      line-height: 1em;
      min-width: 150px;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 1px #fff;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      margin: 0 0 20px 0; }
      #mid .left-33 a.button img {
        -moz-box-shadow: 1px 1px 1px 0 white;
        -ms-box-shadow: 1px 1px 1px 0 white;
        -o-box-shadow: 1px 1px 1px 0 white;
        -webkit-box-shadow: 1px 1px 1px 0 white;
        box-shadow: 1px 1px 1px 0 white; }
      #mid .left-33 a.button:hover {
        -moz-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
        -ms-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
        -o-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
        -webkit-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
        box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
        background: #c43037;
        background-image: -moz-linear-gradient(top, #df4c4b, #c43037);
        background-image: -ms-linear-gradient(top, #df4c4b, #c43037);
        background-image: -o-linear-gradient(top, #df4c4b, #c43037);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#df4c4b), to(#c43037));
        background-image: -webkit-linear-gradient(top, #df4c4b, #c43037);
        background-image: linear-gradient(top, #df4c4b, #c43037);
        border: 1px solid #884f51;
        color: #7e171e;
        text-shadow: 0 1px 1px #e35851; }
        #mid .left-33 a.button:hover img {
          -moz-box-shadow: 1px 1px 1px 0 #e35851;
          -ms-box-shadow: 1px 1px 1px 0 #e35851;
          -o-box-shadow: 1px 1px 1px 0 #e35851;
          -webkit-box-shadow: 1px 1px 1px 0 #e35851;
          box-shadow: 1px 1px 1px 0 #e35851; }
      #mid .left-33 a.button:active {
        background: #df4c4b;
        background-image: -moz-linear-gradient(top, #c43037, #df4c4b);
        background-image: -ms-linear-gradient(top, #c43037, #df4c4b);
        background-image: -o-linear-gradient(top, #c43037, #df4c4b);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#c43037), to(#df4c4b));
        background-image: -webkit-linear-gradient(top, #c43037, #df4c4b);
        background-image: linear-gradient(top, #c43037, #df4c4b);
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #884f51;
        color: #7e171e;
        text-shadow: 0 1px 1px #e35851; }
    #mid .left-33 ul {
      float: left;
      margin: 0 0 20px;
      width: 100%; }
    #mid .left-33 h4 {
      float: left;
      width: 100%; }
  #mid .left-50 {
    float: left;
    width: 390px; }
    #mid .left-50 h2 {
      color: #484848;
      font-family: "Raleway", "Arial", sans-serif;
      font-size: 44px;
      line-height: 1em;
      margin: 0 0 45px 0; }
    #mid .left-50 li {
      color: #909090;
      display: block;
      float: left;
      font-size: 15px;
      margin: 0 0 10px 0;
      width: 100%; }
      #mid .left-50 li span {
        background: url("images/featureicons.jpg") no-repeat -32px 0;
        display: block;
        float: left;
        height: 31px;
        margin: 0 25px 0 0;
        width: 31px; }
        #mid .left-50 li span#feature1 {
          background-position: 0 0; }
        #mid .left-50 li span#feature2 {
          background-position: -31px 0; }
        #mid .left-50 li span#feature3 {
          background-position: -62px 0; }
        #mid .left-50 li span#feature4 {
          background-position: -93px 0; }
        #mid .left-50 li span#feature5 {
          background-position: -124px 0; }
  #mid .right-50, #mid .right-67 form a, #mid .right-67 #form-login a {
    float: right;
    width: 390px; }
    #mid .right-50 form, #mid .right-67 form a form, #mid .right-67 #form-login a form {
      /* hompage form */ }
      #mid .right-50 form input[type=text], #mid .right-67 form a form input[type=text], #mid .right-67 #form-login a form input[type=text], #mid .right-50 form textarea, #mid .right-67 form a form textarea, #mid .right-67 #form-login a form textarea,
      #mid .right-50 form input[type=password],
      #mid #mid .right-67 form a form input[type=password], #mid .right-67 form
      #mid a form input[type=password],
      #mid #mid .right-67 #form-login a form input[type=password], #mid .right-67 #form-login
      #mid a form input[type=password] {
        width: 354px; }
      #mid .right-50 form input[type=submit], #mid .right-67 form a form input[type=submit], #mid .right-67 #form-login a form input[type=submit] {
        background: #eeeeee;
        background-image: -moz-linear-gradient(top, #f6f6f6, #eeeeee);
        background-image: -ms-linear-gradient(top, #f6f6f6, #eeeeee);
        background-image: -o-linear-gradient(top, #f6f6f6, #eeeeee);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eeeeee));
        background-image: -webkit-linear-gradient(top, #f6f6f6, #eeeeee);
        background-image: linear-gradient(top, #f6f6f6, #eeeeee);
        -moz-box-shadow: 0 1px 1px 0 #eeeeee;
        -ms-box-shadow: 0 1px 1px 0 #eeeeee;
        -o-box-shadow: 0 1px 1px 0 #eeeeee;
        -webkit-box-shadow: 0 1px 1px 0 #eeeeee;
        box-shadow: 0 1px 1px 0 #eeeeee;
        border: 1px solid #dbdbdb;
        color: #b8b8b8;
        cursor: pointer;
        float: left;
        line-height: 1em;
        min-width: 130px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 1px #fff;
        padding: 14px 0; }
        #mid .right-50 form input[type=submit] img, #mid .right-67 form a form input[type=submit] img, #mid .right-67 #form-login a form input[type=submit] img {
          -moz-box-shadow: 1px 1px 1px 0 white;
          -ms-box-shadow: 1px 1px 1px 0 white;
          -o-box-shadow: 1px 1px 1px 0 white;
          -webkit-box-shadow: 1px 1px 1px 0 white;
          box-shadow: 1px 1px 1px 0 white; }
        #mid .right-50 form input[type=submit]:hover, #mid .right-67 form a form input[type=submit]:hover, #mid .right-67 #form-login a form input[type=submit]:hover {
          -moz-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
          -ms-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
          -o-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
          -webkit-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
          box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
          background: #c43037;
          background-image: -moz-linear-gradient(top, #df4c4b, #c43037);
          background-image: -ms-linear-gradient(top, #df4c4b, #c43037);
          background-image: -o-linear-gradient(top, #df4c4b, #c43037);
          background-image: -webkit-gradient(linear, left top, left bottom, from(#df4c4b), to(#c43037));
          background-image: -webkit-linear-gradient(top, #df4c4b, #c43037);
          background-image: linear-gradient(top, #df4c4b, #c43037);
          border: 1px solid #884f51;
          color: #7e171e;
          text-shadow: 0 1px 1px #e35851; }
          #mid .right-50 form input[type=submit]:hover img, #mid .right-67 form a form input[type=submit]:hover img, #mid .right-67 #form-login a form input[type=submit]:hover img {
            -moz-box-shadow: 1px 1px 1px 0 #e35851;
            -ms-box-shadow: 1px 1px 1px 0 #e35851;
            -o-box-shadow: 1px 1px 1px 0 #e35851;
            -webkit-box-shadow: 1px 1px 1px 0 #e35851;
            box-shadow: 1px 1px 1px 0 #e35851; }
        #mid .right-50 form input[type=submit]:active, #mid .right-67 form a form input[type=submit]:active, #mid .right-67 #form-login a form input[type=submit]:active {
          background: #df4c4b;
          background-image: -moz-linear-gradient(top, #c43037, #df4c4b);
          background-image: -ms-linear-gradient(top, #c43037, #df4c4b);
          background-image: -o-linear-gradient(top, #c43037, #df4c4b);
          background-image: -webkit-gradient(linear, left top, left bottom, from(#c43037), to(#df4c4b));
          background-image: -webkit-linear-gradient(top, #c43037, #df4c4b);
          background-image: linear-gradient(top, #c43037, #df4c4b);
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          border: 1px solid #884f51;
          color: #7e171e;
          text-shadow: 0 1px 1px #e35851; }
        #mid .right-50 form input[type=submit]#signup, #mid .right-67 form a form input[type=submit]#signup, #mid .right-67 #form-login a form input[type=submit]#signup {
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0;
          -moz-border-radius-bottomleft: 4px;
          -moz-border-radius-topleft: 4px;
          -ms-border-bottom-left-radius: 4px;
          -ms-border-top-left-radius: 4px;
          -o-border-radius-bottomleft: 4px;
          -o-border-radius-topleft: 4px;
          -webkit-border-bottom-left-radius: 4px;
          -webkit-border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px; }
        #mid .right-50 form input[type=submit]#linkedin, #mid .right-67 form a form input[type=submit]#linkedin, #mid .right-67 #form-login a form input[type=submit]#linkedin {
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0;
          border-left: 0;
          border-right: 0;
          width: 130px; }
          #mid .right-50 form input[type=submit]#linkedin:hover, #mid .right-67 form a form input[type=submit]#linkedin:hover, #mid .right-67 #form-login a form input[type=submit]#linkedin:hover {
            border: 1px solid #884f51;
            width: 128px; }
        #mid .right-50 form input[type=submit]#facebook, #mid .right-67 form a form input[type=submit]#facebook, #mid .right-67 #form-login a form input[type=submit]#facebook {
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0;
          -moz-border-radius-bottomright: 4px;
          -moz-border-radius-topright: 4px;
          -ms-border-bottom-right-radius: 4px;
          -ms-border-top-right-radius: 4px;
          -o-border-radius-bottomright: 4px;
          -o-border-radius-topright: 4px;
          -webkit-border-bottom-right-radius: 4px;
          -webkit-border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px; }
      #mid .right-50 form p, #mid .right-67 form a form p, #mid .right-67 #form-login a form p {
        color: #ccc;
        float: left;
        font-size: 14px;
        margin: 15px 0 0 0; }
  #mid .right-67 {
    float: right;
    width: 580px; }
    #mid .right-67 form {
      float: left;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: #f5f5f5;
      border: 1px solid #e8e8e3;
      padding: 20px; }
      #mid .right-67 form fieldset#terms label {
        width: 100%;
        float: left; }
        #mid .right-67 form fieldset#terms label input {
          display: inline;
          float: left;
          margin: 0 0 0 160px; }
        #mid .right-67 form fieldset#terms label p {
          float: left;
          margin: 0 0 0 15px; }
      #mid .right-67 form label {
        float: left;
        font-size: 16px;
        height: 35px;
        line-height: 1.2em;
        padding: 18px 0 0;
        width: 160px; }
        #mid .right-67 form label#passwordconf {
          padding: 9px 0 0; }
        #mid .right-67 form label.error {
          float: left;
          margin: 0 0 15px 160px;
          padding: 0;
          width: 340px; }
      #mid .right-67 form input[type=text], #mid .right-67 form textarea,
      #mid .right-67 form input[type=password],
      #mid .right-67 form select {
        width: 340px; }
      #mid .right-67 form input[type=submit] {
        background: #eeeeee;
        background-image: -moz-linear-gradient(top, #f6f6f6, #eeeeee);
        background-image: -ms-linear-gradient(top, #f6f6f6, #eeeeee);
        background-image: -o-linear-gradient(top, #f6f6f6, #eeeeee);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eeeeee));
        background-image: -webkit-linear-gradient(top, #f6f6f6, #eeeeee);
        background-image: linear-gradient(top, #f6f6f6, #eeeeee);
        -moz-box-shadow: 0 1px 1px 0 #eeeeee;
        -ms-box-shadow: 0 1px 1px 0 #eeeeee;
        -o-box-shadow: 0 1px 1px 0 #eeeeee;
        -webkit-box-shadow: 0 1px 1px 0 #eeeeee;
        box-shadow: 0 1px 1px 0 #eeeeee;
        border: 1px solid #dbdbdb;
        color: #b8b8b8;
        cursor: pointer;
        float: left;
        line-height: 1em;
        min-width: 130px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 1px #fff;
        padding: 14px 0;
        float: right; }
        #mid .right-67 form input[type=submit] img {
          -moz-box-shadow: 1px 1px 1px 0 white;
          -ms-box-shadow: 1px 1px 1px 0 white;
          -o-box-shadow: 1px 1px 1px 0 white;
          -webkit-box-shadow: 1px 1px 1px 0 white;
          box-shadow: 1px 1px 1px 0 white; }
        #mid .right-67 form input[type=submit]:hover {
          -moz-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
          -ms-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
          -o-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
          -webkit-box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
          box-shadow: inset 0 2px 2px 0 #f46766, 0 1px 1px 0 #cccccc;
          background: #c43037;
          background-image: -moz-linear-gradient(top, #df4c4b, #c43037);
          background-image: -ms-linear-gradient(top, #df4c4b, #c43037);
          background-image: -o-linear-gradient(top, #df4c4b, #c43037);
          background-image: -webkit-gradient(linear, left top, left bottom, from(#df4c4b), to(#c43037));
          background-image: -webkit-linear-gradient(top, #df4c4b, #c43037);
          background-image: linear-gradient(top, #df4c4b, #c43037);
          border: 1px solid #884f51;
          color: #7e171e;
          text-shadow: 0 1px 1px #e35851; }
          #mid .right-67 form input[type=submit]:hover img {
            -moz-box-shadow: 1px 1px 1px 0 #e35851;
            -ms-box-shadow: 1px 1px 1px 0 #e35851;
            -o-box-shadow: 1px 1px 1px 0 #e35851;
            -webkit-box-shadow: 1px 1px 1px 0 #e35851;
            box-shadow: 1px 1px 1px 0 #e35851; }
        #mid .right-67 form input[type=submit]:active {
          background: #df4c4b;
          background-image: -moz-linear-gradient(top, #c43037, #df4c4b);
          background-image: -ms-linear-gradient(top, #c43037, #df4c4b);
          background-image: -o-linear-gradient(top, #c43037, #df4c4b);
          background-image: -webkit-gradient(linear, left top, left bottom, from(#c43037), to(#df4c4b));
          background-image: -webkit-linear-gradient(top, #c43037, #df4c4b);
          background-image: linear-gradient(top, #c43037, #df4c4b);
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          border: 1px solid #884f51;
          color: #7e171e;
          text-shadow: 0 1px 1px #e35851; }
        #mid .right-67 form input[type=submit]#signup {
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0;
          -moz-border-radius-bottomleft: 4px;
          -moz-border-radius-topleft: 4px;
          -ms-border-bottom-left-radius: 4px;
          -ms-border-top-left-radius: 4px;
          -o-border-radius-bottomleft: 4px;
          -o-border-radius-topleft: 4px;
          -webkit-border-bottom-left-radius: 4px;
          -webkit-border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px; }
        #mid .right-67 form input[type=submit]#linkedin {
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0;
          border-left: 0;
          border-right: 0;
          width: 130px; }
          #mid .right-67 form input[type=submit]#linkedin:hover {
            border: 1px solid #884f51;
            width: 128px; }
        #mid .right-67 form input[type=submit]#facebook {
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0;
          -moz-border-radius-bottomright: 4px;
          -moz-border-radius-topright: 4px;
          -ms-border-bottom-right-radius: 4px;
          -ms-border-top-right-radius: 4px;
          -o-border-radius-bottomright: 4px;
          -o-border-radius-topright: 4px;
          -webkit-border-bottom-right-radius: 4px;
          -webkit-border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px; }
      #mid .right-67 form select {
        height: 30px;
        margin: 18px 0 30px 0; }
    #mid .right-67 #form-login input[type=text], #mid .right-67 #form-login form textarea, #mid form .right-67 #form-login textarea,
    #mid .right-67 #form-login input[type=password] {
      width: 500px; }
    #mid .right-67 #form-login label.error {
      margin: 0; }
    #mid .right-67 article {
      float: left;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: #f5f5f5;
      border: 1px solid #e8e8e3;
      padding: 20px;
      margin: 0 0 20px 0;
      width: 540px; }
      #mid .right-67 article h2, #mid .right-67 article h3, #mid .right-67 article h4 {
        float: left;
        width: 100%; }
      #mid .right-67 article h1 {
        font-size: 22px; }
      #mid .right-67 article h2 {
        font-style: italic;
        margin: 0 0 5px 0; }
      #mid .right-67 article h3 {
        color: #ccc;
        font-family: "Istok Web";
        font-size: 14px;
        text-transform: uppercase; }
      #mid .right-67 article p {
        float: left;
        margin: 0; }
      #mid .right-67 article img {
        float: right; }
      #mid .right-67 article span {
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-topright: 4px;
        -ms-border-bottom-right-radius: 4px;
        -ms-border-top-right-radius: 4px;
        -o-border-radius-bottomright: 4px;
        -o-border-radius-topright: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        background: #e8e8e8;
        color: #bbb;
        display: block;
        float: right;
        font-size: 14px;
        margin: 0 0 0 10px;
        padding: 2px 10px;
        position: relative;
        text-transform: uppercase; }
        #mid .right-67 article span:before {
          border-color: transparent #e8e8e8 transparent transparent;
          border-style: solid;
          border-width: 14px 14px 14px 0;
          content: "";
          float: left;
          height: 0;
          left: -14px;
          position: absolute;
          top: 0;
          width: 0; }
        #mid .right-67 article span:after {
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          -moz-box-shadow: 0 -1px 1px 0 #ccccbb;
          -ms-box-shadow: 0 -1px 1px 0 #ccccbb;
          -o-box-shadow: 0 -1px 1px 0 #ccccbb;
          -webkit-box-shadow: 0 -1px 1px 0 #ccccbb;
          box-shadow: 0 -1px 1px 0 #ccccbb;
          content: "";
          position: absolute;
          top: 10px;
          left: 0;
          float: left;
          width: 4px;
          height: 4px;
          background: #fff; }

/* end #mid */
#bot {
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -ms-border-bottom-left-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-radius-bottomleft: 10px;
  -o-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  float: left;
  height: 25px;
  width: 100%; }

#form {
  float: right;
  width: 390px; }
  #form h2 {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 54px;
    line-height: 1.2em; }
  #form p {
    color: #bbb;
    margin: 0 0 10px 0;
    text-shadow: 0 1px 1px #fff; }

/*
#list {
	margin: 30px auto;
	width: 700px;
	
	h1 {
		float: left;
		font-family: $raleway;
		font-size: 54px;
		line-height: 1.2em;
		margin: 0 0 15px 0;
	}
	
	a {
		@include gradient(#f6f6f6, #eee);
		@include radius(4px);
		border: 1px solid #dbdbdb;
		color: #b8b8b8;
		cursor: pointer;
		float: right;
		margin: 8px 0 0 8px;
		padding: 10px 20px;
		text-shadow: 0 1px 1px #fff;
		
		&:hover {
			@include gradient(#df4c4b, #c43037);
			border: 1px solid #884f51;
			color: #7e171e;
			text-shadow: 0 1px 1px #e35851;
		}
		
		&:active {
			@include gradient(#c43037, #df4c4b);
			border: 1px solid #884f51;
			color: #7e171e;
			text-shadow: 0 1px 1px #e35851;
		}
	}
	
	table {
		background: #fff;
		border: 1px solid #d8d8d8;
		float: left;
		margin: 15px 0 0;
		width: 100%;
		
		thead {
			width: 100%;
			
			td {
				@include gradient($color, #2e5cc7);
				@include boxshadow(inset 0 1px 1px 0 #3c7aef);
				
				border: 1px solid #2d59b3;
				border: 1px solid #2d59b3;
				color: #f7f7f7;
				padding: 10px;
			}
		}
		tr {
			td {
				padding: 10px;
			}
			&.even {
				background: #eee;
			}
		}
	}
}
*/
footer {
  float: left;
  font-size: 16px;
  padding: 20px 0 40px; }
  footer a {
    color: #3870d1; }
    footer a:hover {
      text-decoration: underline; }

.flash {
  bottom: 0;
  display: none;
  padding: 20px 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10; }
  .flash#error {
    -moz-box-shadow: hilite 0 2px 2px 0 #ff969d;
    -ms-box-shadow: hilite 0 2px 2px 0 #ff969d;
    -o-box-shadow: hilite 0 2px 2px 0 #ff969d;
    -webkit-box-shadow: hilite 0 2px 2px 0 #ff969d;
    box-shadow: hilite 0 2px 2px 0 #ff969d;
    background: #f7636a;
    background-image: -moz-linear-gradient(top, #ff747b, #f7636a);
    background-image: -ms-linear-gradient(top, #ff747b, #f7636a);
    background-image: -o-linear-gradient(top, #ff747b, #f7636a);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff747b), to(#f7636a));
    background-image: -webkit-linear-gradient(top, #ff747b, #f7636a);
    background-image: linear-gradient(top, #ff747b, #f7636a);
    border-top: 1px solid #c43037;
    color: #c43037; }
  .flash#success {
    -moz-box-shadow: hilite 0 2px 2px 0 #94fd7c;
    -ms-box-shadow: hilite 0 2px 2px 0 #94fd7c;
    -o-box-shadow: hilite 0 2px 2px 0 #94fd7c;
    -webkit-box-shadow: hilite 0 2px 2px 0 #94fd7c;
    box-shadow: hilite 0 2px 2px 0 #94fd7c;
    background: #61ca49;
    background-image: -moz-linear-gradient(top, #72db5a, #61ca49);
    background-image: -ms-linear-gradient(top, #72db5a, #61ca49);
    background-image: -o-linear-gradient(top, #72db5a, #61ca49);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#72db5a), to(#61ca49));
    background-image: -webkit-linear-gradient(top, #72db5a, #61ca49);
    background-image: linear-gradient(top, #72db5a, #61ca49);
    border-top: 1px solid #2e9716;
    color: #2e9716; }

::selection {
  background: #c43037;
  color: #fff;
  text-shadow: 0 1px 1px #484848; }

::-moz-selection {
  background: #c43037;
  color: #fff;
  text-shadow: none; }

.hide {
  display: none; }
