<section class="left-33">
	<h3>Log In</h3>
	
	<p>If you're new to Proximate, <a href="/signup">sign up here</a>, or use <a href="/auth/linked_in">LinkedIn</a> or <a href="javascript: void(0)">Facebook</a>.</p>
	
</section>

<section class="right-67">
	<form action="/login" method="post" id="form-login">
	
		<input name="session[email]" type="text" value="name@email.com" class="focus-hide" />
	
		<input name="session[password]" type="password" value="password" class="focus-hide" />
		
		<ul>
			<li><input name="login" id="signup" type="submit" value="Log In" /></li>
			<li><input name="login" id="linkedin" type="submit" value="LinkedIn" /></li>
			<li><input name="login" id="facebook" type="submit" value="Facebook" /></li>
		</ul>
	</form>
</section>