<p>Hello, <%= @user.name %></p>

<p>Please follow this link to reset your password

 <a href="http://localhost:4567/recover/<%= @recover.slug %>"http://localhost:4567/recover/<%= @recover.slug %></a></p>