<section class="left-33">
	<h3>Recover</h3>
	
	<p>If you've lost your password, fill out this form.</p>
	<p>Remember, if you signed up or connected your account with LinkedIn or Facebook, you can log in with it!</p>
	
</section>

<section class="right-67">
	<form action="/recover" method="post" id="form-recover">

		<label name="email">Email</label>
	
		<input name="email" type="text" value="name@email.com" class="focus-hide" />
		<input name="recover" id="signup" type="submit" value="Reset Password" />
	</form>
</section>