<h6>Find me in views/sessions/login.erb</h6>
<section class="right-67">
	<form action="/login" method="post" id="form-signup">
	
		<input name="session[email]" type="text" value="name@email.com" class="focushide" />
	
		<input name="session[password]" type="password" value="password" class="focushide" />
	
		<input type="submit" value="Sign In" />
	</form>
	
	<p>Or sign in using the Linked In service</p>
	<!-- <a href="/auth/twitter">Sign in with Twitter</a> -->
	<a href="/auth/linked_in">
		<img alt="Sign in with Linked In" src="images/log-in-linkedin-large.png" />
	</a>
	
	<a href="/signup">Sign Up</a>
</section>