<section class="left-33">
	<h3>Log In</h3>
	
	<p>If you're new to Proximate, <a href="/signup">sign up here</a>, or use <a href="/auth/linked_in">LinkedIn</a> or <a href="javascript: void(0)">Facebook</a>.</p>
	
</section>

<section class="right-67">
	<form action="/login" method="post" id="form-login">
	
		<input name="session[email]" type="text" value="name@email.com" class="focus-hide" />
	
		<input name="session[password]" type="password" value="password" class="focus-hide" />
	
		<input type="submit" value="Log In" />
		<a href="/auth/linked_in" id="linkedin">
			<img src="images/social_linkedin.gif" alt="" />
		</a>
		<a href="javascript: void(0)" id="facebook">
			<img src="images/social_facebook.gif" alt="" />
		</a>
	</form>
</section>