<section class="left-33">
	<h3>Create a New Session</h3>
	
	<p>If you have no sessions why would people come to your event?</p>

	<p>Find me in views/sessions/new.erb</p>
	
</section>

<section class="right-67">
	<form id="form-session" action="/sessions" method="post">
		<%= erb :'sessions/form' %>
		<input type="submit" value="Add" />
	</form>
</section>

<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>