<section class="left-33">
	<h3>Change your name?</h3>
	
	<p>Make changes to your profile here.</p>

	<p>Find me in views/users/edit.erb</p>
	
</section>

<section class="right-67">
	<form id="form-edit-profile" action="/users/<%= @user.id %>" method="post" enctype="multipart/form-data">
		<input name="_method" type="hidden" value="put" />
		 <%= erb :'users/form' %>
		<input type="submit" value="Submit" />
	</form>
</section>
<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>
