<section class="left-33">
	<h3>Edit Nametag</h3>
	
	<p>Make changes to your profile here. This information will appear on your nametag, which is available members of your attending events.</p>
	<% if @user.linked_in.blank? %>
		<form action="/connect" method="post">
			<label style="float: left; margin: 0 0 15px 0; width: 100%;">
			Connect with <input name="connect" type="submit" value="LinkedIn" />
			</label>
		</form>
	<% end %>
	<% if @user.facebook.blank? %>
		<form action="/connect" method="post">
			<label>
			Connect with <input name="connect" type="submit" value="Facebook" />
			</label>
		</form>
	<% end %>
	
</section>

<section class="right-67">
	<form id="form-edit-profile" action="/users/<%= @user.id %>" method="post" enctype="multipart/form-data">
		<input name="_method" type="hidden" value="put" />
		 <%= erb :'users/form' %>
		<input type="submit" class="button" value="Submit" />
	</form>
</section>

<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>
<script src="/js/jquery.autocomplete.min.js"></script>
<script src="/js/jquery.tagsinput.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css">

<script>
 $(document).ready(function(){
 		var data = "<% @all_interests.each do |interest| %><%= interest.name %>,<% end %>".split(",");

		$('#interests').tagsInput({
		'autocomplete_url': data,
		autocomplete:{selectFirst:true,width:'100px',autoFill:true},
		height:'100px',
		width:'340px',
		unique:true,
		defaultText:''
		});
  });
</script>
