<section class="left-33">
	<h3>My Nametag</h3>

	<p>This is how you look to others. Please note that only members of your events will be able to see your nametag.</p>
	
</section>

<section class="right-67">
	<%= partial :'nametag_lg', @user  %>
	<%= partial :'nametag_small', @user  %>
</section>
<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>
