<h1><%= @user.name %></h1>
<h6>Find me in views/users/show.erb</h6>

<h2>My Events</h2>
<% @user.user_event_associations.each do |event| %>
	<p><%= event.event.id %><%= event.event.name %></p>
<% end %>