<section class="left-33">

<h3>Send Invites</h3>
<p>If you have no one coming to your event. Invite some people.</p>
<p>Find me in views/invites/new.erb</p>
	
</section>

<section class="right-67">
	<form id="form-invites" action="/invites" method="post">

		<p>Emails seperated by commas :)</p>

		<label for="emails">Emails</label>
		<textarea name="emails" type="text"></textarea>

		<label for="subject">Subject</label>
		<input name="subject" type="text" />

		<label for="message">Message</label>
		<textarea name="message" type="text"></textarea>

		<input type="submit" value="Send Invites" />
	</form>
</section>

<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>