<section class="left-33">
	<h3>Send Invites</h3>
	<p>Invite guests to your event.</p>
</section>

<section class="right-67">
	<form id="form-invites" action="/invites" method="post">


		<label for="emails">
			Emails
			<span>Type an email, then press enter or comma</span>
		</label>
		<input id="email-invites" name="emails" type="text" data-seperator="," />

		<label for="subject">Subject</label>
		<input name="subject" type="text" />

		<label for="message">Message</label>
		<textarea name="message" type="text"></textarea>

		<input type="submit" value="Send Invites" />
	</form>
</section>
<script src="/js/jquery.tagsinput.min.js"></script>
<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>

<script>
	$('#email-invites').tagsInput({
		//'autocomplete_url': url_to_autocomplete_api,
		//'autocomplete': { option: value, option: value},
		'height':'100px',
		'width':'340px',
		'unique':true,
		'defaultText':''
	});
</script>