<h6>Find me in views/invites/new.erb</h6>

<h1>Send Invites to Event</h1>
<p>If you have noone coming to your event. Invite some people.</p>


<form action="/invites" method="post">

	<p>Emails seperated by commas :)</p>

	<label for="emails">Emails</label>
	<textarea name="emails" type="text"></textarea>

	<input type="submit" value="Send Invites" />
</form>


