<section class="left-33">

<h3>Create a New Question</h3>
<p>Does everyone speak english at your event?</p>
<p>Find me in views/questions/new.erb</p>
	
</section>

<section class="right-67">
	<form id="form-question" action="/questions" method="post">
		<%= erb :'questions/form' %>
		<input type="submit" value="Add" />
	</form>
</section>

<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>
