<h6>Find me in views/questions/new.erb</h6>

<h1>Create a New Question</h1>
<p>Does everyone speak english at your event?</p>


<form action="/questions" method="post">
	<%= erb :'questions/form' %>
	<input type="submit" value="Add" />
</form>


