<section class="left-33">
	<h3>New Question</h3>
	<p>Survey the attendees at your event.</p>
	
</section>

<section class="right-67">
	<form id="form-question" action="/questions" method="post">
		<%= erb :'questions/form' %>
		<input type="submit" value="Add" />
	</form>
</section>

<script src="/js/validate.js"></script>
<script src="/js/form.js"></script>
